[2017-08-30 09:03] vbraun opened #1 "Also support file:// urls"
It would be nice if absolute file:// urls were also supported (checking that they point to a resource inside the www folder, of course). For example, the AngularJS template service makes XMLHttpRequest with absolute url to load templates, which then fail. Can be worked around on the Angular side, but would be nice if it worked out of the box.

Thanks for the great plugin!

[2017-08-31 13:02] gvanmat commented on #1
Thanks for the feedback.

We are about ready to release another version of the plugin that works
around the "null" origin CORS header by handling remote XHR requests thru
the native layer too.  We will trying addressing the relative URL
limitation for local XHR in this release too.

Regards,
Gary

On Aug 30, 2017 3:03 AM, "Volker Braun" <notifications@github.com> wrote:

[2017-09-18 16:17] vbraun commented on #1
I tried the implementation that has now hit the master branch and it works nicely for me!

[2017-09-18 16:25] gvanmat commented on #1
Great!  We should be pushing out a public npm module soon - after finishing our internal testing.

[2017-10-03 17:46] sorny opened #2 "Shared iOS Folders"
This plugin works fine when accessing files within the read-only www application dir as mentioned in the readme.

The plugin cordova-plugin-file (https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-file/) supports file-writing to an application-specific read/write space.

Shouldn't the security check focus on the container base path? Or make the security check configurable?

Example

[2017-10-03 19:23] gvanmat commented on #2
The plugin isn't meant to replace cordova-plugin-file.  Currently, it constrains GET requests to the application bundle.

The application bundle is part of the base cordova strategy for distributing web resources.  Anything outside of this readonly space could be a security vulnerable.

[2017-10-03 20:21] sorny commented on #2
Could you explain the imposed security vulnerabilities a little bit further?

[2017-10-03 21:32] gvanmat commented on #2
The [application bundle](https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/FileSystemOverview/FileSystemOverview.html) is readonly.  It is signed at install time.  Tampering with it will change its signature result in the application not launching.  This is the location web resources are package for consumption by the webview in a Cordov

[2017-10-09 09:47] medslt opened #3 "How does it work?"
Hello,

I added this plugin to my Cordova project to fix the following issue:

[code]

Even after I added this plugin and build my app again the issue isn't resolved.

Is this plugin intended to fix this kind of issue?

Thank you,

[2017-10-09 13:57] gvanmat commented on #3
Yes, the plugin should solve this issue.  However, the plugin only supports wkwebview for iOS.  What version of the plugin are you using?

[2017-10-09 14:39] velochy opened #4 "FormData send does not work"
the error message states that body.keys() is not a function. Looking at FormData prototype in safari reveals that the only function FormData has implemented is append and keys() is indeed missing.

Thankfully, I found a polyfill that adds it at https://github.com/jimmywarting/FormData

For completeness, you may want to include this in your project though, or at least link to it in the readme.

[2017-10-09 14:50] gvanmat commented on #4
Good point.  Thanks for the feedback.

[2017-10-09 16:34] velochy opened #5 "Debugging a result with status -1"
I am making a post request and it comes back to the webview as Status: -1.
I would really like to know what is going wrong but I have no clue even where to start. Normally, I would look at safari Resources tab and get the request headers + server response. Any way I can access this info even when this plugin is in place?

[2017-10-09 16:46] gvanmat commented on #5
The NativeXHRLogging preference set to "full" will give you detail logging of the request.  See:
https://github.com/oracle/cordova-plugin-wkwebview-file-xhr#configuration

[2017-10-10 08:47] velochy opened #6 "Newer XCode restricts webView to be called only from main thread"
XCode shows the following runtime errors:
[WKScriptMessage body] must be used from main thread only
[WKScriptMessage webView] must be used from main thread only
This is a restriction since iOS 11 (so it is relatively recent)

Offending lines are 407-409 of CDVWKWebViewFileXhr.m

[2017-10-10 12:53] velochy commented on #4
The polyfill I linked to has problems when used with this plugin. After trying different combinations, the working solution involved these two steps:

a) once the form is ready, call fd._blob() to get a Blob and pass that as xhr request data
b) take the content type of that blob and set that as the contentType header

Im guessing setting the contentType header to undefined will make it default to

[2017-10-10 12:57] velochy commented on #4
Also, on iOS the polyfill _.blob function is currently broken but this is easy to hotfix around by always using the placeholder "File" definition he provides and renaming it to BlobWrapper in his implementation (https://github.com/jimmywarting/FormData/issues/26)

[2017-10-10 14:19] gvanmat commented on #6
Thanks for reporting the issue.

[2017-10-13 09:36] wasteCleaner opened #7 "Other request events will be added?"
Hello! Thanks for plugin, it's really help me.
But I want to make uploading images from my ionic app. I make a big post request (with base64 encoded image) and I need to listen events 'progress', but they doesn't fired.
Are you plan to add this events?

[2017-10-13 13:52] gvanmat commented on #7
The onprogress events are simulated for upload request and response but don't reflect partial delivery.  The plugin makes a single request to the native layer that returns a single response.  It delivers the full payload from both request and response so there isn't a progress to report other than the complete uploaded request or delivered response.

The request and response body data marshaled be

[2017-10-13 14:04] #1 closed

[2017-10-13 14:05] gvanmat commented on #1
Absolute file URLs were added in v2.0.0

[2017-10-13 14:06] #5 closed

[2017-10-13 14:06] #2 closed

[2017-10-14 09:22] brunoborges commented on #1
Hey @gvanmat , mind to post link to change log?

[2017-10-14 19:39] MoAsmar opened #8 "Polyfill not injected ! Plugin not added properly."
I installed the plugin but it seems that something is wrong, because Polyfill was not injected on app run and the app is not working anymore and the problem in loading files through xhr is still.

[2017-10-14 20:18] gvanmat commented on #8
There is a known issue with iOS 11. Are you by chance using 11.

[2017-10-16 08:41] wasteCleaner commented on #7
gvanmat, thank you for your answer!
But I think, that I don't understand, what are you mean. If I will send binary data (without double encoding) I might get onprogress events?

[2017-10-16 13:53] gvanmat commented on #7
No, the behavior of the progress event will be the same.  In the code fragment below, you would only see two progress events fired.  The first would be from the upload.  The native JavaScript XMLHttpRequest could fire many progress events.  The implementation for this plugin will only fire one event.  This is just before sending the request to the iOS Layer (single atomic request versus partial).

[2017-10-16 14:27] vbraun opened #9 "XMLHttpRequest.onerror is called erroneously if status code >= 400"
The onerror callback should only be called on network-level errors; If there is a response then, by definition, there was no network level error. The value of the status code is irrelevant. More discussion is at https://stackoverflow.com/questions/10584318/when-should-xmlhttprequests-onerror-handler-fire

    if (payload.response.statusCode === 0 || payload.response.statusCode >= 400)
      reqCon

[2017-10-16 14:40] gvanmat commented on #9
It's simulating the same behavior for a native JS XMLHttpRequest.  If you went after a resource that was not found or a 500 server except, the XMLHttpRequest fires a "error" event.

[2017-10-16 15:32] vbraun commented on #9
Well a 404 doesn't, for example open the console on this page and run:
[code]
does NOT call onerror.

A CORS error will trigger onerror though, i.e. if you run the same snippet from the console on a different website then it will be called.

[2017-10-18 09:02] wasteCleaner commented on #7
@gvanmat, thank you for detail answer!
Maybe in the future plugin will get supporting of firing many events?

[2017-10-18 13:30] gvanmat commented on #7
I have doubt it would be feasible.  There is inherent overhead in how the plugin works.  The mechanism for communicating outside the javascript context to iOS is as efficient as it gets in comparison to the other webview platform offerings but the way the native layer communicates back into the webview is by invoking javascript.  This means that all data has be be converted into a string and passe

[2017-10-31 17:14] lapotchkin opened #10 "No 'responseText' property in response object on 403 (forbidden) error"
Hi!

I added authentication in my phonegap app. But when I send wrong password, I receive only properties 'status', 'statusText', 'readyState'. But I debugged your code and found that the plugin had 'responseText' property inside. It's very important to me to have 'responseText', because this properti is used to send to the application some messages like 'wrong credentials' or some other.

This ob

[2017-10-31 18:52] gvanmat commented on #10
The hxr.responseText property should return the value you have shown above.  The property returns the context value you have shown above with corresponding names.  What does your listener logic look like?

[2017-10-31 22:10] lapotchkin commented on #10
My code for requests:

[code]

Console output:

[code]

When I was debugging your plugin, I found that property was not defined in this code:

[code]

In console I found only status properties for status 403. When I was making good request with status, 200, I found property 'responseText' in my console.

P.S.: Sorry for my English.

[2017-11-01 08:09] lapotchkin commented on #10
I rewrote my own method 'send' and now it works fine:

[code]

But You have an error in README.MD. You have to add 'new' for this object creation:

[code]

So, I think it was my mistake. Sorry))))

[2017-11-01 13:25] gvanmat commented on #10
I think this is the same issue reported in #9.  The onerror event is raised when it should be causing the xhr wrapper to remove some of the returned properties.

I just put in a fix.  Please uninstall and re-install the plugin from the master to verify the fix:
cordova plugin remove cordova-plugin-wkwebview-file-xhr
cordova plugin add https://github.com/oracle/cordova-plugin-wkwebview-file-xhr.git

[2017-11-01 13:26] gvanmat commented on #9
I  just pushed in a fix. Please uninstall and re-install the plugin from the master to verify the fix:

cordova plugin remove cordova-plugin-wkwebview-file-xhr
cordova plugin add https://github.com/oracle/cordova-plugin-wkwebview-file-xhr.git

[2017-11-01 13:31] gvanmat commented on #3
No followup in several weeks.  Closing the issue.

[2017-11-01 13:31] #3 closed

[2017-11-01 13:31] gvanmat commented on #8
No followup in a couple weeks.  Closing the issue.

[2017-11-01 13:31] #8 closed

[2017-11-01 13:34] gvanmat commented on #7
Closing this issue as not feasible to fix at this time.

[2017-11-01 13:34] #7 closed

[2017-11-01 22:40] brunoborges commented on #8
Hey @gvanmat you may want to set a template for issues, so people submit required information such as environment, versions, etc. [See this](https://github.com/blog/2111-issue-and-pull-request-templates).

[2017-11-02 08:12] Perroquiet opened #11 "this.response is undefined when responseType is a Blob/ArrayBuffer"
Hi I've tested this plugin in my case, a file object with a file url (from upload) and creating a Blob file of it through XHR: [MDN Link](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Sending_and_Receiving_Binary_Data)

[code]

_**this.response**_ is always undefined. I've also checked _**this**_ with ajaxData attribute to be null. I'm not sure if Blob responseType is supported w

[2017-11-02 10:59] lapotchkin commented on #10
I uninstalled and re-installed the plugin and it works. I received responseText in my 'error' callback. Thank You very much.

[2017-11-02 13:24] gvanmat commented on #10
Great news. This fix will be in the 2.1.0 release which will have several others including iOS 11 support.

[2017-11-02 13:27] gvanmat commented on #11
A blob response type works fine but the issue is you are using an absolute URL.  The plugin will only allow access to files under the www folder of the application bundle (readonly).  If this image exists under the www folder, you can use a relative URL such as "./myfile.png" to load the image.

[2017-11-02 13:33] MoAsmar commented on #8
Hey gvanmat, I am using IOS 11 yes, what is the known issue and what is its fix ?

[2017-11-02 14:04] gvanmat commented on #8
Failure to run under iOS 11 was reported in issue #6. We released v2.0.0 of the plugin 9/20.  xcode for iOS 11 was released 9/19.

The fix is still being worked but will be in the v2.1.0 release of the plugin.

[2017-11-02 23:33] #11 closed

[2017-11-03 08:32] MoAsmar commented on #8
Ok thanks I used another webview for now.

[2017-11-03 21:39] gvanmat commented on #4
@velochy Just checked in a FormData polyfill.  This is our own impl that works with the xhr polyfill. Please help me verify the fix.

[2017-11-03 21:40] gvanmat commented on #6
@velochy Checked in a fix for iOS 11.  Please help me verify the fix.

[2017-11-03 21:41] gvanmat commented on #8
@MoAsmar Checked in a fix for issue #6 and #4.  Please help me verify.

[2017-11-04 11:10] velochy commented on #4
@gvanmat Thank you! I actually had a working workaround but the code was ugly to say the least so if this works, I am really grateful! I will try to find time to check it over the coming week.

[2017-11-07 16:54] larssn opened #12 "2.1.0 release"
Hey, thanks for an amazing plugin. Has made our lives a lot easier in wkwebview-land.

Is v2.1.0 gonna go on npmjs? It seems you've fixed a critical bug from v2.0. :-)

[2017-11-07 16:58] peppertech commented on #12
Thanks for the compliment @larssn .   We publish the Cordova plugins to the Cordova repository, but do not normally put them on npmjs as they are not installed using npm.

[2017-11-07 17:00] larssn commented on #12
Ah sorry, brain fart on my part. I meant the cordova repo.

Doing an `cordova plugin add cordova-plugin-wkwebview-file-xhr` installs v2.0

[2017-11-07 17:01] peppertech commented on #12
Right, got it.  We are looking for some verification from developers that have reported issues, and we've fixed, before we push the 2.1.0 release.  As soon as the release is pushed, we will definitely have it on the Cordova repos.

[2017-11-07 17:02] larssn commented on #12
Alright, I'll keep my eyes open for any issues in v2.1. 👍

[2017-11-07 17:02] #12 closed

[2017-11-07 18:32] gvanmat commented on #4
@velochy Just pushed in a few fixes to the FormData polyfill.  Missed the forEach method and had a couple more typos.

[2017-11-08 17:54] gvanmat commented on #10
Closing as a duplicate of issue #9.

[2017-11-08 17:54] #10 closed

[2017-11-09 15:38] velochy commented on #4
@gvanmat Sadly, it is still not posting the data properly.

I'm using AngularJS $http (wrapper for XmlHttpRequest) to post (roughly) the following:
formData = new FormData();
formData.append('nonce','xyz');
formData.append('file',Blob(['xyz']),'file.bin')
requestParams = {
          method: 'POST',
          url: url,
          data: formData,
          headers: { 'Content-Type': undefined},

[2017-11-09 16:14] gvanmat commented on #4
The FormData is going to send multipart/form data.  The content-type of the request will contain a boundary token the back-end uses to parse the document parts.  So, you will want to remove the content-type header on the request.

However, it looks to me like angularjs $http service is calling JSON.stringify on the formData object versus passing it on the the XMLHttpRequest.send(formData).

What i

[2017-11-09 16:45] velochy commented on #4
@gvanmat it seems you are right regarding serialization. https://docs.angularjs.org/api/ng/service/$http "Default transformations" describes exactly that behavior.

Its easy to disable though. will test this tomorrow.

Considering the popularity of angularjs, you may want to make a note about it in the readme if it does work, though

[2017-11-09 17:02] gvanmat commented on #4
@velochy I hope that's it.  Please let me know.  I suspect angular would have the same issue if you passed in a native javascript FormData.  For example, from a safari console:

var fd = new FormData(); fd.append("foo", "bar"); JSON.stringify(fd);

Would result in "{}".

Since the Blob and File types need the FileReader to convert into a binary string, the conversion is async.  I would have liked

[2017-11-10 10:51] velochy commented on #4
@gvanmat it got us a step forward but there is a new problem. The post is now properly parsed on the server, but the binary file being transmitted comes out broken.

The file going into the FormData object in JS is a binary blob that, in base64 is:
AAAABSoAAAAAAAABEwAAAAcAAAAuAAAAhQAAAAIAAALwAAAAmgAAACYBAAEAAQABAAEAAAABAAEAAQABAAEAAQABAAEAAQABAAEAAQABAgAAACeur6+zs76+wMDNzbm5mJh+fn19dnZzc3Fxbm5zc3V

[2017-11-10 18:26] gvanmat commented on #4
When you create your blob, what context-type are you assigning to the blob?  I'll do some more investigating with different file types.  I'm using the Java EE multipart form servlet in my testing so I know the server side handling is correct and should catch any issues.

If angular is checking the prototype of the data object, it should also work the same since we have replaced the window.FormData

[2017-11-10 18:26] #4 closed

[2017-11-10 20:58] gvanmat commented on #4
@velochy I'm a fan of angularJS too.  I like the simplicity of creating components and the separation of  controllers with inject-able services.

I was looking in the $http service and you are correct about special [handling of the FormData](https://github.com/angular/angular.js/blob/master/src/ng/http.js#L325).  I found the [isFormData ](https://github.com/angular/angular.js/blob/master/src/Angul

[2017-11-10 21:05] velochy commented on #4
@gvanmat regarding blob content type - i do not set it explicitly and it seems to default to binary/octet-stream.
The blob is created pretty directly from base64 data in my own code so you should be able to reproduce with

FD.append ('file',new Blob([btoa ('<copy the above data>')]),'file.bin')

Hope it helps.

[2017-11-16 17:37] velochy commented on #4
@gvanmat any news on the blobs getting mangled issue? Is there any other information I could provide?

[2017-11-16 20:36] gvanmat commented on #4
@velochy I wasn't able to recreate the issue.  I created a [test case](https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/blob/master/tests/tests.js#L169).  I'm uploading several blobs in the FormData.  The one that is base64 encoded returns the expected result.

What other variables do you have in your usecase outside of the angular http service?

[2017-11-16 21:39] velochy commented on #4
@gvanmat thank you for testing it out. I will ask one of my colleagues for another pair of eyes to see if we can figure out what might be the reason. The fact is that the same code works in desktop browsers and android webviews so it has to be something ios related, but it may well be somewhere in our code. Will keep you posted.

[2017-11-16 21:43] velochy commented on #4
@gvanmat just to make sure: did you test with the same b64 encoded string i sent? The test case you link has a simple ascii string which might not reveal encoding-related issues.

[2017-11-18 01:49] gvanmat commented on #4
@velochy  I really appreciate your help verifying the FormData polyfill.  I'm pretty sure I have it this time.  Please try the latest again.

[2017-11-24 13:10] velochy commented on #4
I can confirm it does indeed. Thank you for fixing it, @gvanmat. Great plugin and keep up the good work.

[2017-11-28 16:03] #9 closed

[2017-11-28 16:03] #6 closed

[2017-12-01 23:12] rdantonio opened #13 "Casting non-string headers"
First wanted to thank you for the effort of this plugin, it's been making my transition off of UIWebView so much easier for my use cases.

I've noticed one different behavior between the way the normal XHR method works with headers though. Previously if we set header values by enumerating a JSON object and call:
`request.setRequestHeader(key, value);`

If value is anything other than a string (in

[2017-12-01 23:42] gvanmat commented on #13
Thanks for reporting the issue.  I think we need to address this at the JavaScript level versus on the iOS side.  We should be normalizing the header values.

You might not have access to the JS code setting the header request values but that might be a workaround until we can get this addressed.

request.setRequestHeader(key, "" + value);

[2017-12-02 01:35] rdantonio commented on #13
I don't have access to this specific JS like you said but I was able to put something in place in the meantime that seems to be working.

Normalizing at the JS level sounds good as well, thank you for the quick response!

[2017-12-05 06:39] imgx64 opened #14 "Remove dependency on cordova-plugin-wkwebview-engine"
We want to use this plugin with [cordova-plugin-ionic-webview](https://github.com/ionic-team/cordova-plugin-ionic-webview), but this plugin contains `<dependency id="cordova-plugin-wkwebview-engine" />` in plugin.xml. `cordova-plugin-ionic-webview` conflicts with `cordova-plugin-wkwebview-engine` and we get duplicate symbol errors at build time.

Should this dependency be removed? Anyone who wants

[2017-12-05 14:17] gvanmat commented on #14
@imgx64 The cordova-plugin-**wkwebivew**-file-xhr was built specifically to overcome new CORS constraints of the latest version of the safari browser "**wkwebview**" introduced using the cordova-plugin-**wkwebview**-engine.  It's never been tested using the ionic-**webview**.  Not sure if it would even work. The JS side of the plugin doesn't always go thru the cordova JS API.  It directly posts me

[2017-12-05 14:25] imgx64 commented on #14
@gvanmat cordova-plugin-ionic-webview is a fork of `cordova-plugin-wkwebview-engine` and uses `WKWebView`. I'll do some tests and see if this plugin works with it if I remove the dependency.

[2017-12-07 11:30] imgx64 commented on #14
I tested it and it does work with `cordova-plugin-ionic-webview` if I remove the dependency.

[2017-12-14 15:43] gvanmat commented on #14
@imgx64 I don't see the value add of using the ionic-webview plugin with the wkwebview-file-xhr plugin over wkwebview-engine.  There are two main features of the wkwebivew-file-xhr plugin:

1) The default behavior of WKWebView is to raise a cross origin exception when loading files from the main bundle using the file protocol - "file://". This plugin works around this shortcoming by loading files

[2017-12-14 19:20] rdantonio commented on #14
I can't speak for @imgx64 but personally I use ionic for addressing the issue you mentioned as it seems to work better for my use cases (we use a custom system similar to [https://github.com/nordnet/cordova-hot-code-push](url) which does not use the www folder) and I use the InterceptRemoteRequests feature of this plugin to work around the CORS restrictions of AJAX requests that our application us

[2017-12-15 15:01] gvanmat commented on #14
@rdantonio and  @imgx64. It sounds like the ionic plugin provides similar features to the wkwebview-engine + wkwebivew-file-xhr.  At this time, there doesn't seem to be a good reason to remove the dependency on the apache wkwebview-engine since they are parallel solutions.

[2017-12-15 15:01] #14 closed

[2018-01-03 20:26] phillipmoon opened #15 "iPhone X Issue (CSS bottom: 0)"
This plugin works perfectly for all iOS devices apart from the new iPhone X.  We've experienced that our CSS style of `bottom: 0` for something `position: absolute` doesn't sit right on the bottom.  There is a gap between the very bottom of the screen and the element we've positioned.  First we thought this could be to account for the "Home bar indicator", but we realised it's quite a bit more tha

[2018-01-03 21:32] gvanmat commented on #15
Might be a known wkwebview issue - https://issues.apache.org/jira/browse/CB-12886

[2018-01-12 22:51] #15 closed

[2018-01-12 22:53] gvanmat commented on #13
@rdantonio I pushed a fix into main.  When you have time, please help me verify the fix.

[2018-01-15 17:08] rdantonio commented on #13
Thank you! I ran a quick test and it's working for the case it was failing for previously. Looks good!

[2018-01-17 21:13] #13 closed

[2018-04-02 06:50] vortice3D commented on #3
Hi **gvanmat**:

First of all, excuse for re-open an already closed issue thread but I've got this same question of **medslt**.

The case is that I'm using a webgl engine (BabylonJS) in one of my cross-platform developments.

My code loads textures, in the form of **PNG files**, using a specific API, like this:
[code]

Also, I need to load a cube map/environment in the form of a **DDS file**, usin

[2018-04-02 06:57] vortice3D opened #16 "How to use with third-party software?"
Hi there:

The case is that I'm using a webgl engine (BabylonJS) in one of my cross-platform developments.

My code loads textures, in the form of **PNG files**, using a specific API, like this:
[code]
This works perfectly.

Also, I need to load a cube map/environment in the form of a **DDS file**, using this other API:
[code]

This doesn't work.

Internally **CreateFromPrefilteredData** uses XHR,

[2018-04-02 13:43] gvanmat commented on #16
@vortice3D The cordova-plugin-wkwebview-file-xhr has a restriction of only allowing readonly access to files under the "www" folder of the applications bundle.  This is a signed secure part of the file system that cannot be altered once the application is installed.  Is the "asserts" folder located under "www" within the cordova application or is the file located on a remote endpoint?

Try enablin

[2018-04-02 14:40] vortice3D commented on #16
Hi **gvanmat**, and thank your for your time.

My folder tree is this:
www
  └-----/assets
  └-----/libs
  └-----/scripts
  └-----/styles
  └ index.html

Best regards.

[2018-04-02 14:49] gvanmat commented on #16
@vortice3D  The file structure looks good.  You will need to enable full logging to give some insight into what's failing.

[2018-04-02 15:04] vortice3D commented on #16
Well, **gvanmat**...excuse my lack of experience in this but, how can I enable such a "full" plugin login?

[2018-04-02 15:17] vortice3D commented on #16
Excuse me. Wrong button!!

[2018-04-02 15:18] gvanmat commented on #16
@vortice3D You need to edit your [config.xml](https://cordova.apache.org/docs/en/latest/config_ref/) found in the same root folder as www adding the following parameter:

`<preference name="NativeXHRLogging" value="full"/>`

[2018-04-02 15:32] vortice3D commented on #16
Thanks gvanamt.

Is estrange, but the addition of the preference directive seems to do nothing, as I get the same remote console log than I got before (but not show in this thread):

[Error] XMLHttpRequest cannot load file:///var/containers/Bundle/Application/3685B4EA-BF39-4ABD-90B1-514825761447/GRB%20Technology.app/www/assets/models/Monomando.babylon.manifest?1522682768175. Cross origin requests

[2018-04-02 15:42] gvanmat commented on #16
@vortice3D Sounds like you are going to need to do some debugging to determine why the cordova-plugin-wkwebview-file-xhr plugin is not being loaded.  It might also be that the babylon script library is loaded before the plugin-wkwebview-file-xhr plugin.  You should be able to attach the Safari browser to the application running in the XCode IDE.

[2018-04-02 16:04] vortice3D commented on #16
I see.

In index.html I've just changed the <script src="cordova.js"></script> to a position before the <script src="libs/bjs/babylon.3.1.custom.min.js"></script>, but I get the same console output:

(Excerpt)
"XMLHttpRequest cannot load file:///var/containers/Bundle/Application/E00CC1C9-7EB4-4828-826B-8270625C142C/GRB%20Technology.app/www/assets/models/Monomando.babylon.manifest?1522685023139. Cr

[2018-04-02 16:52] vortice3D commented on #16
BTW, reviewing my config.xml file, I can see the line
`<plugin name="cordova-plugin-wkwebview-file-xhr" spec="^2.1.1" />`
,
but nothing about the dependent **cordova-plugin-wkwebview**.

Anyway, the two are listed when a **cordova plugin list** is done.

[2018-04-02 20:47] gvanmat commented on #16
@vortice3D I think the issue is the babylon APIs are using synchronous uses of XMLHttpRequest versus async.  I see places in the code like:

[code]
The third argument [async](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/open#Parameters) has a value of "false".

The XMHttpRequest polyfill doesn't currently support synchronous calls.  However, it might be possible to implement wit

[2018-04-02 20:58] gvanmat commented on #16
@vortice3D The snippet of code I posted before is loading CSS. I don't think the images are loaded via XMLHttpRequest but rather some other technique using the browser. Whatever method is being used by this library to load images, it's not XMLHttpRequest or the Fetch API.

Unfortunately, fixing the synchronous send is not going to be a complete solution.

[2018-04-02 22:13] gvanmat commented on #16
@vortice3D I debugged thru the babylon.js some and found the method it's using to load images. The method is [LoadImage](https://github.com/BabylonJS/Babylon.js/blob/master/src/Tools/babylon.tools.ts#L487).  They are creating an Javascript Image Object, setting the src to the target URI and adding "load" event listeners.  This would be outside the scope of the cordova-plugin-wkwebview-file-xhr.

[2018-04-03 06:27] vortice3D commented on #16
Hi **gvanmat**:

First of all I wish to thank you very much your interest and support with this issue.

Ok, I know BJS is using that LoadImage API in order to "load the plain images", when I call **BABYLON.Texture** but as said I can load that textures (PNG files in my case) w/o problems under browser, Cordova-Android and Cordova-iOS platform.

The problems arises (only on Cordova-iOS), with the l

[2018-04-03 20:18] gvanmat commented on #16
@vortice3D

I was able to create a sample cordova ios app using the wkwebview-file-xhr plugin with a sample babylonJS app that uses BABYLON.SceneLoader.Load("textures/", "v8.babylon", engine, ...

The XMLHttpRequest polyfill provided by the plugin is intercepting the file:// GET requests.  I've attached a zip of the www folder of my project.  You might compare the script includes from index.html.

[2018-04-03 20:39] vortice3D commented on #16
Hi Gary:

Thank for your collaborarion on all this.

I'll inspect your zip tomorrow and let you know.

Good night.

[2018-04-04 09:02] vortice3D commented on #16
Hi again Gary:

I've seen your example of use.

Anyway your loading a .babylon file (scene) that is only a text file (JSON). I've not found problems loading local JSONs or local PNGs, but local DDS or MP3, as these two formats uses XHR in order to load the contents, if I host those DDS or MP3 in my server, and Ioad then from it in my code, then all works OK. But I'd prefer to have it stored locall

[2018-04-04 09:04] vortice3D commented on #16
BTW, reviewing your index.html I have another question on it, what are the meaning of these lines:
[code]

Are they needed for Cordova-iOS apps?

[2018-04-04 13:47] gvanmat commented on #16
@vortice3D The "Content-Security-Policy" controls what resources the browser can load such as img, style, script, and media.  XHR is invoked via JavaScript thru either the XMLHttpRequest or the Fetch API.  The plugin is a workaround for the CORS constraints for XHR (XMLHttpRequest and Fetch API) only.

If you debug the Babylon APIs, loading of the images **are not** going thru XHR.  They creating

[2018-04-04 14:30] vortice3D commented on #16
Hi **Gary**:

I agree with you in the way BJS is loading contents, standard image files are managed through an Image, but other (binary) types needs to use Ajax calls (XHR) as no one HTML-DOM element can load it.

Asking the BJS guys about this issue they are saying me it's a bug of Cordova with local XHR (and that's the reason I got initially to this Cordova plugin).

I've tried the "cordova-plug

[2018-04-04 14:30] #16 closed

[2018-04-04 16:47] gvanmat commented on #16
The MP3 load issue is likely because the babylon code is not setting the XMLHttpRequest [responseType](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseType) to "arraybuffer".  The polyfill with this plugin only has a small list of file suffixes to default response types.  The native XMLHttpRequest probably defaults "arraybuffer" based on the URL suffix but we are defaulting

[2018-04-05 03:57] vortice3D commented on #16
Hi Gary:

Only if this info can be useful to you or somebody else, I've asked BJS staff about your thoughts on the responseType on XHR call for:
BABYLON.Sound("sfx","assets/sounds/sfx.mp3",_Scene,null,{
  autoplay: false,
  loop: true,
  volume: 0}
);

and they've answered that's weirds, as "...because we ARE actually setting the responseType to arrayBuffer: https://github.com/BabylonJS/Babylon.js

[2018-04-06 06:30] vortice3D opened #17 "Screen change orientation bug"
Hi there:

When a change the orientation of my device (iPad Mini running **iOS 11.2.6**) wkwebview doesn't cover the entire height of screen.

That is, when the WKWebView is used, rotating the screen doesn't trigger a resize of the HTML, but it works correctly with UIWebView.

It's possible to "hack" this behavior firing a temporized **_window.dispatchEvent(new Event('resize')_**, but I find it cl

[2018-04-06 09:35] vortice3D commented on #17
About this issue, searching more in deep over the web, I see different related posts:

- `https://stackoverflow.com/questions/35042412/wkwebview-displays-content-wrong-after-orientation-change`
- `https://stackoverflow.com/questions/3778552/auto-resize-subviews-on-device-rotation`

So well this seems to be a problem related with the iOS autoresizingMask. Anyway I see it is set OK in my CDVViewCont

[2018-04-06 13:04] Hirbod commented on #17
You are in the wrong repo my friend. This one here is only fixing XHR issues, you should send your message to the webview maintainers.

https://github.com/apache/cordova-plugin-wkwebview-engine
https://github.com/ionic-team/cordova-plugin-ionic-webview

[2018-04-06 13:25] Hirbod opened #18 "gap://ready won't fire"
gap://ready doesn't fire

[2018-04-06 13:31] vortice3D commented on #17
Ok man, I'll do so.

I came to this plugin looking for an xhr solution so I didn't notice at all there was a cordoba-plugin-wkwebview dependency.

Best regards.

[2018-04-06 13:31] #17 closed

[2018-04-06 13:32] Hirbod commented on #17
Fyi, you have to post your issues here:
https://issues.apache.org/jira/browse/CB-12074?jql=project%20%3D%20CB%20AND%20status%20%3D%20Open%20AND%20labels%20%3D%20wkwebview-known-issues

[2018-04-06 20:09] Hirbod commented on #18
Don't ask me where it comes from, but if I open the inspector, there is a iframe created with gap:// ready (and wkwebview-engine) is installed.

[2018-04-06 21:15] gvanmat commented on #18
@Hirbod

I'd try a "cordova build ios" after installing the plugin.  Your cordova_plugin.js should be updated to use the "cordova-plugin-wkwebivew-engine" and should be the first in the module exports.   That's the only thing I can think of.  The iframe is created by the cordova JS libraries but not when wkwebview is used.

[2018-05-16 12:02] gertgjoka opened #19 "Works on simulator but not on device for file prot"
Hello,

thanks for the work with this plugin!
I have an issue, when running the app on the simulator from xcode it works fine with local file:// resources, but when I debug on my device it doesnt work and fails with the following:
Failed to load resource: The operation couldn’t be completed. Operation not permitted
file:///var/mobile/Containers/Data/Application/B01D6417-EC0C-49D4-9B80-6EC64C2500D6

[2018-05-17 15:43] gvanmat commented on #19
@gertgjoka The plugin has a restriction that it can only read local files contained within the application bundle.  This resource is located at "Library/NoCloud/134816086487-7927-4917-9d8d-8fb72ede76c6.jpg". I would expect to see "www" in the path.  Please verify this resource exists under the application bundle and is loaded via XMLHttpRequest or Fetch API?

[2018-05-17 15:46] gertgjoka commented on #19
@gvanmat Thanks for the reply. No this is a file the app is downloading as an avatar of the user profile, so not part of the bundle. Isn't there a way to set a local downloaded file as an src of an image?

[2018-05-17 15:52] gvanmat commented on #19
@gertgjoka  The document running in the webview is loaded from the "www" folder.  The browser will allow you to load resources under the root folder from where the document was loaded but will not allow access to other parent folders or file systems.  You would need to use the cordova-plugin-file to load the content.  Maybe you could load using the file plugin and convert the image to a data URL?

[2018-05-17 15:54] gertgjoka commented on #19
@gvanmat Thanks for the tips! Cheers

[2018-05-17 15:54] #19 closed

[2018-06-08 11:08] larssn opened #20 "Doesn't seem to interop with the firebase sdk"
Feel free to close if this is outside the scope of the project.

We're using the firebase sdk (https://github.com/firebase/firebase-js-sdk) in a cordova project, and when this plugin is added, all communication to their remote server seems to be blocked.

They are using xhr internally in the framework already.

[2018-06-08 17:15] gvanmat commented on #20
@larssn Integration with firebase-js-sdk has never been tested but in theory it should work.  What types of errors are you seeing on the JS console?  You can enable plugin logging using the "NativeXHRLogging" [preference](https://github.com/oracle/cordova-plugin-wkwebview-file-xhr#configuration) with a value of "all".

My best guess is that you are not using secure protocol with the firebase sdk.

[2018-06-11 09:45] larssn commented on #20
We ended up using https://github.com/silkimen/cordova-plugin-advanced-http against the relevant services. We're cautious about plugins that override native functionality.

Sorry for the inconvenience. Gonna close this.

[2018-06-11 09:45] #20 closed

[2018-06-11 13:55] gvanmat commented on #20
@larssn Totally understand not wanting to override native functionality.  If you have the option of isolating iOS application resources from other supported mobile platforms you might support, that seems the way to go.

[2018-07-05 17:16] jcleyba opened #22 ".abort() does not work as expected"
I'm using this plugin and I want to abort all pending requests if the user logs out of my app. The abort() function does not do it.

Debugging I see that this._context.delegate is always null so there's no `abort` function there to be called. I'd appreciate some help with this.

Thanks.

[2018-07-05 17:20] rsj296 opened #23 "XHR local file request throwing cross origin error"
I realise this has been asked and closed in the previous issues. However, I'm still unable to get this plugin to work after a few hours of going through all the threads. Error details and my environment below:

[Error] XMLHttpRequest cannot load file:///Users/user001/Library/Developer/CoreSimulator/Devices/B928C8B2-1A44-488F-93D6-0039C51CF17F/data/Containers/Bundle/Application/6047BE0D-F397-4105-A

[2018-07-07 13:31] gvanmat commented on #22
@jcleyba The cordova API for invoking native iOS code really doesn't provide a way of canceling a request.  The way the plugin works is it makes a single request to the native layer that returns a single response.  Unlike the native behavior of the XMLHttpRequest, the response payload is delivered in a single unit.  Unfortunately, it's not currently possible to abort an in-flight request.

[2018-07-07 13:38] gvanmat commented on #23
@rsj296 Are you waiting for the cordova ready event to fire before sending the request?  It sounds as if the plugin polyfill  (wkwebview-file-xhr plugin) has not been loaded yet.  Are you seeing any other JS or iOS console messages?  What other cordova plugins are you also using?

[2018-07-09 14:14] gvanmat commented on #23
@rsj296 I'm not seeing the reported issue when running the tests on iphone 8 from the simulator.  It sounds like something is preventing the wkwebview-file-xhr plugin from loading or you are not waiting for the [deviceready](https://cordova.apache.org/docs/en/4.0.0/cordova/events/events.deviceready.html) event before sending an XHR request.  Please reopen if you have more information.

[2018-07-09 14:14] #23 closed

[2018-07-09 14:22] gvanmat commented on #22
@jcleyba I'm closing this one as not feasible to fix.  The abort method wasn't implemented due to the plugin's design in how it marshals data from the javascript context to the native layer and back as a single unit.  There is already a substantial overhead in converting all data into base 64 encoded strings.  The single request/response was purposely chosen over multiple requests for performance

[2018-07-09 14:22] #22 closed

[2018-07-09 16:12] rsj296 commented on #23
@gvanmat you were right on the money! I have edited by code to ensure the xhr calls are made only after deviceready is fired and it is working great. Thanks for pointing it out.

[2018-09-17 16:20] MatthewPringle commented on #20
I have just had a similar issue.

When using aws-sdk the response from the server / aws is blocked and causes aws-sdk to error.

.createPlatformEndpoint() is the function im using.

Removing the plugin and it all works file.

[2018-09-17 16:50] gvanmat commented on #20
@MatthewPringle  Are you seeing any errors?  Have you tried enabling [plugin logging](https://github.com/oracle/cordova-plugin-wkwebview-file-xhr#configuration)?

[2018-09-17 18:49] MatthewPringle commented on #20
@gvanmat

The amazon library throws this error "TypeError: undefined is not an object (evaluating 'resp.httpResponse.body.toString')"

Having enabled logging I can see the response and it all looks fine, no error codes or anything.

The mimeType is text/xml though, which is different from all my other requests that work fine and are application/json.

[2018-09-17 19:56] gvanmat commented on #20
@MatthewPringle  It sounds like the [responseType](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseType) is not being set to "document"?

[2018-09-17 20:00] MatthewPringle commented on #20
@gvanmat thats going to be something thats buried deep in the aws-sdk.js

[2018-09-28 17:01] mlynch commented on #14
(Max from the Ionic team here). Does this plugin allow for HTML5 routing somehow?

We'd love to not use a webserver. It's not ideal, but it appeared to be necessary for HTML5 routing. Open to finding a middle ground here and would love your thoughts!

[2018-09-28 18:35] gvanmat commented on #14
@mlynch Hi Max.  The file-xhr plugin only intercepts XMLHttpRequest and the Fetch API.  It doesn't intercept the history API.

I assume you are talking about an error like this: SecurityError: Blocked attempt to use history.pushState() to change session history URL from....

We started seeing this error with with iOS v 11.3 and 11.4.  It was not seen in 11.2.  I think it's this issue: https://bugs

[2018-09-28 19:28] mlynch commented on #14
Thanks @gvanmat. I just realized that one of the biggest challenges with HTML5 routing is to enable direct navigation to a page but pass that through to the index file, which isn't really something native mobile apps need to handle anyways.

I'm going to spend some time playing with this plugin and see if we can offer it as an alternative to ours down the road.

[2018-09-28 19:45] gvanmat commented on #14
@mlynch Sounds great.  Please let us know of any issues you run into.  If it looks like a good fit, combining efforts might be most beneficial for the communities.

[2018-10-02 15:12] vsvikram opened #24 "XMLHttpRequest not working in WKWebView due to CORS restriction"
Description: I'm making requests to an API endpoint from Cordova iOS app using $http.get() method which results in the CORS restriction errors.
ERROR: `xmlhttprequest cannot load Preflight response is not successful`
Observations:
1. The server sends Access-Control-Allow-Origin response header
2. Requests are completed when the app is run in Xcode simulator but failed on actual iPad

How can I ove

[2018-10-02 16:41] vsvikram commented on #24
Thanks @gvanmat . I missed that and assumed the URL endpoint we are using is secure https.

[2018-10-02 16:41] #24 closed

[2018-10-05 12:05] frankois944 opened #26 "Can't use fileurl with sandbox ressource"
Hello,
This plugin can't get file inside the sandbox but inside the bundle yes

I saw inside the **CDVWKWebViewFileXhr.m**, you check if the file want to go to the bundle with the method **isWebContentResourceSecure**.
So why not check if we want to go to the sandbox?

Like to add this method in **CDVWKWebViewFileXhr.m** :
[code]
and add this condition inside **readAsText** line 178:
[code]

Thank

[2018-10-05 15:29] marc0n3 opened #27 "cordova /Library/NoCloud/ and /Library/files"
I see the plugin is limited to www.
Should it not be limited to the whole app directories that are user writable?

Is there a way I can use it to read those files?

Thanks in advance

[2018-10-05 15:34] gvanmat commented on #26
@frankois944 The plugin is specifically checking that the target file is within the "www" folder of the application bundle.  This is where the index.html file is served from defining the document root.  The cordova file plugin should be used for reading files outside the www folder of the applications bundle.

[2018-10-05 15:55] gvanmat commented on #27
No, the intention is not to provide greater access outside the protection of the readonly application bundle.  Access outside the www folder defining the document root would open up to a directory traversal attack.

[2018-10-05 15:55] #27 closed

[2018-10-05 16:00] marc0n3 commented on #27
Thank you, I'll try other ways.

Best regards,
Marco

On ott 5 2018, at 5:55 pm, Gary Van Matre <notifications@github.com> wrote:

[2018-10-05 16:09] gvanmat commented on #27
@marc0n3  You might look at using the [file plugin](https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-file/).

[2018-10-05 16:09] #26 closed

[2018-10-05 16:13] marc0n3 commented on #27
Sorry, one more thing.
Actually, in cordova, I've access to dataDirectory, syncedDataDirectory, cacheDirectory, that resides in the Library folder of the app.
Why can't i read a file that I've stored in dataDirectory, for example an image?
Actually I've access to these file using cordova-file plugin, but on android I still can call the file using the path.
I don't understand why the same thing is

[2018-10-30 23:54] Ralpharoo commented on #4
Note to any others who land here, this plugin breaks my signed AWS S3 uploads with blobs in FormData. I receive a request denied error from Amazon where something from the FormData signed request / file is lost in transmission. Have not spent much time digging though.

After removing this again, everything works perfectly (and vice versa). If it is of interest or affects others, I can try and set

[2018-10-31 01:05] gvanmat commented on #4
The plugin has a polyfill for [FormData](https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/blob/master/src/www/ios/formdata-polyfill.js).  Sending the form data will result in the request being a multipart document.  I suspect AWS expects a multipart form.

Could you try using the XMLHttpRequest instead of the jquery wrapper function? It would be good to understand if it's an issue with

[2018-11-17 02:13] Ralpharoo commented on #4
Thanks @gvanmat - Quick test shows this to be working fine using the XMLHttpRequest. For some reason I thought I tried this before but must not have!

[2018-11-17 02:36] gvanmat commented on #4
I suspect the jQuery code looks at the prototype of the FormData or a toString check to identify it over a plain json object and the Pollyfill doesn't pass the check. Thanks for verifying the request object works.

[2018-11-26 18:45] sirius2013 commented on #19
@gertgjoka I got same problem. can you help for this?
![permission-error-load-file](https://user-images.githubusercontent.com/5020713/49035025-a3df3b00-f1c4-11e8-9eed-4fe4a93e0852.png)
![permission-error-3](https://user-images.githubusercontent.com/5020713/49035026-a5a8fe80-f1c4-11e8-9545-f325fa55d874.png)

[2018-11-26 18:55] sirius2013 commented on #27
@marc0n3  Did you solve problem? because I got same issue now
![permission-error-3](https://user-images.githubusercontent.com/5020713/49035488-ff5df880-f1c5-11e8-9a41-aaea76d01d1d.png)
![permission-error-load-file](https://user-images.githubusercontent.com/5020713/49035490-008f2580-f1c6-11e8-804d-461873e48fd4.png)

[2018-11-27 09:21] marc0n3 commented on #27
@sirius2013  I've abandoned the search!
There were too many issues in the loading process we've done and we opted for a "local server on the phone" solution.
Good luck!

[2019-02-16 04:47] globules-io opened #29 "iOS 12 svg as background getting Origin null"
My svg's as background-image in css are not loading
I used
[code]
Still getting not allowed due to Origin null over file:///var/containers/Bundle/Application/....
cordova iOS 5.0.0
cordova 7.1
Any help appreciated

[2019-02-17 19:59] globules-io commented on #29
As a work around, I've handled my svg's in css as url('data:image/svg...');

[2019-02-17 20:30] gvanmat commented on #29
The plug-in can only intercept xMLHttpRequest and fetch API. It's not able to intercept resources resolved in html but the browser such as images. The standard rules still apply for these. They must be located under the context root (www folder in application bundle)

[2019-02-17 20:50] globules-io commented on #29
My understanding is that it was handling all calls made to file://

"The default behavior of WKWebView is to raise a cross origin exception when loading files from the main bundle using the file protocol - "file://". This plugin works around this shortcoming by loading files via native code if the web view's current location has "file" protocol and the target URL passed to the open method of the X

[2019-02-17 21:06] gvanmat commented on #29
The plug will not override how the browser resolves CSS and HTML resources. It only intercept xhr (https://en.m.wikipedia.org/wiki/XMLHttpRequest) traffic. Xhr is handled within the JavaScript context. Xhr can load files from the application bundle via the file:// protocol or remote resources. It can't intercept how the webview resolves resources outside xhr.

[2019-02-17 21:35] globules-io commented on #29
OK thanks.

[2019-02-17 21:35] #29 closed

[2019-03-07 13:28] ankon opened #30 "Loading Polymer 3 apps (`<script crossorigin="anonymous">`)"
We've been using Cordova and Polymer together for quite a while. Recently things started breaking again, after we moved from WKWebView + local file server to the WKWebView + xhr-plugin approach. From what we could track down a change in Polymer (https://github.com/Polymer/tools/commit/5aebb668edf2503aeabb61b828b3c3e2d1229bb2) modified how they want to load the scripts. As a result of that change t

[2019-03-07 13:28] ankon commented on #30
For referencing: I also filed a ticket "on the other side": https://github.com/Polymer/tools/issues/3377

[2019-03-07 15:02] gvanmat commented on #30
@ankon Unfortunately, I don't see a way for this plugin to intercept native resolution of resources by the browsers while it builds the DOM tree.  The plugin can only intercept XHR and the fetch API uses.  These are APIs defined within the javascript context meaning it can only intercept requests initiated thru execution of javascript.

[2019-03-08 13:17] ankon commented on #30
@gvanmat thank you for your reply! So based on that I guess the way forward here is to make sure Polymer's loader can emit suitable code that either works directly without triggering the CORS situation, or that uses fetch or similar approaches.

[2019-03-08 14:44] gvanmat commented on #30
@ankon The other consideration is that you are loading resources outside of what the browser considers the context root.  The html document gets loaded from the application bundle distributed with the native application.  This situation would trigger a CORS request on a desktop browser too.  The difference being the origin would be the host from where the document was loaded.  The null origin repr

[2019-03-08 15:12] ankon commented on #30
The point is: We _do_ distribute all script content within the Cordova application, and every other content script gets loaded correctly -- except for the one that the Polymer loader finds (`<script type="module" src="app.js">...`), and then transforms into that `<script src="app.js" crossorigin="anonymous">...`.

[2019-03-14 18:32] jacobweber commented on #15
@phillipmoon Did you find a workaround for this?

[2019-03-14 18:50] jacobweber commented on #15
Actually it looks like [this](https://github.com/apache/cordova-plugin-wkwebview-engine/issues/53) is the issue, which was fixed in master [here](https://github.com/apache/cordova-plugin-wkwebview-engine/pull/45).

If you include https://github.com/apache/cordova-plugin-wkwebview-engine#master in your config.xml, instead of letting this plugin include the 1.1.4 release automatically, it should fix

[2019-04-08 05:25] beckmx opened #31 "cordova 9 and ios 12"
I am using angular 7 with the default httpClient but seems that it is not working with sticky cookies, is there any particular config to make cookies sticky?

[2019-04-26 00:06] mgatto opened #32 "TypeError: req.dispatchEvent is not a function"
Hello,

I get the above error when loading any asset file with a relative path from JS such as `templates/config.js`. But, initial loading worked perfectly when assets are referenced in the index.html file, when Cordova apparently auto-sets the URLs as so: `file:///var/containers/Bundle/Application/67FAC6E7-FDC1-488D-8458-ABCF6872CC02/myApp.app/www/js/printer.js`.

The error is

[code]
My project

[2019-04-26 01:02] gvanmat commented on #32
If you turn on full logging, you should see the complete requests in the JS console logs and in xcode too - NativeXHRLogging preference.

https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/blob/master/README.md#configuration

[2019-04-26 01:17] mgatto commented on #32
Right, I had `<preference name="NativeXHRLogging" value="full" />` set in my config.xml, but all I get in the Safari console is

[code]

[2019-04-26 13:49] gvanmat commented on #32
It kind of sounds like the send method on XMLHttpRequest is being invoked out of context.  As in if the send method was not getting invoked off the instance of the object but a reference to the function was called without binding context to an instance of XMLHttpRequest.

Can you set a breakpoint in the "window.XMLHttpRequest.prototype.send" and look at the call stack to determine the jquery code

[2019-04-26 20:45] mgatto commented on #32
Hi Gary,

I've created a screen shot with the call stack and the state of some local vars from the Safari debugger.

<img width="1213" alt="Screen Shot 2019-04-26 at 1 44 18 PM" src="https://user-images.githubusercontent.com/341379/56835612-8a045b80-6829-11e9-9926-7018834aa2c9.png">

[2019-04-26 22:43] mgatto commented on #32
Oh, I think my app's code is borking this. There's a util.js in our codebase, but not in the plugin which is getting called, and it all falls down because of our code here:

[code]

[2019-04-26 23:09] gvanmat commented on #32
Ah ok. That is likely the issue. You don't need to polyfill bind as ES5 JS standard is supported by wkwebview.

[2019-04-26 23:34] mgatto commented on #32
Right, its legacy code which I inherited as a maintainer. I'll start to strip it out, so I'll close this report. Thanks so much; You helped me zero in on the cause!

[2019-04-26 23:34] #32 closed

[2019-04-30 00:03] mgatto commented on #31
This plugin could help: https://github.com/CWBudde/cordova-plugin-wkwebview-inject-cookie

[2019-05-06 15:44] velochy opened #33 "status code should be set by readyState == 2"
Ran into this issue while trying to use https://github.com/brion/stream-file with this plugin. Tracked the error down to it checking status code when readyState === 2

Simple thing to fix, and I already have a PR for this

[2019-05-06 15:46] velochy commented on #33
Ran into this issue while trying to use https://github.com/brion/stream-file with this plugin. Tracked the error down to it checking status code when readyState === 2

Simple thing to fix, and I already have a PR for this

[2019-05-08 21:16] velochy commented on #33
@gvanmat yes, in reading the code I understood that this was the case. Still - according to standard, status code has to be set when readyState is set to 2, so the re-ordering I am proposing should fix at least this corner case.

[2019-05-10 19:50] #33 closed

[2019-06-06 15:39] velochy opened #35 "Blob urls are loaded incorrectly"
Current system tries to load blob urls via File handler if loading page is from file protocol, as blob urls do not contain "://" (they usually have the form of "blob:null/adafalsjiejwqoe")

[2019-07-21 19:32] yoldar opened #38 "Script in head do not load"
I have simple script tag in head

`<script src="https://cdn.announcekit.app/widget.js"></script>`

When I start app I got message "An error occurred trying to load the resource" in console.

Does anybody know how to fix it?

Thanks!

[2019-07-22 14:26] elliottpalermo opened #39 "Object.toString doesn't work as expected with FormData polyfil"
The FormData polyfil does not set the toStringTag symbol which will cause Object.toString to incorrectly report these objects as "[object Object]" instead of "[object FormData"]

[code]

This causes issues when attempting to use multi-part file upload in AngularJS. If you do not specify the content type and post a form using $http, AngularJS is supposed to automatically detect the FormData and set

[2019-07-26 20:16] cszasz opened #40 "Plugin not intercepting eventSource or calls from html"
It seems that although I set the InterceptRemoteRequests to all
<preference name="InterceptRemoteRequests" value="all" />
calls not created directly by an ajax call is not intercepted.
As a result eventSource or an img will fail if authentication (cookies) is required.

Is this intentional, or I am missing something.
Currently my workaround is that I initiate a login also by a non intercepted call

[2019-07-27 01:48] gvanmat commented on #40
XHR is isolated to the JavaScript context - XMLHttpRequest and fetch API. The plug-in can't intercept how the browser retrieves images defined by the DOM. Bypassing self signed certificates is also isolated to XHR. Please see the known limitation section of the readme regarding cookie handling.

As a workout, you could fetch images via XHR and convert them to data urls.

[2019-07-27 01:55] gvanmat commented on #38
It sound like your cdn doesn't support cross origin requests. What type of error do you see on the J's console?

[2019-07-27 01:58] gvanmat commented on #39
I think the formdata just needs to override the default impl of toString. There was a similar bug logged on the XMLHttpRequest polyfill.

[2019-07-27 02:16] elliottpalermo commented on #39
Hello! Thanks for taking a look.

It actually looks like it already does override/implement toString here,
https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/blob/master/src/www/ios/formdata-polyfill.js#L197

That’s why calling (new FormData()).toString() will correctly return “[object FormData]”

The problem comes when using Object.toString.call (or apply, etc) which is what AngularJS us

[2019-07-27 02:28] elliottpalermo commented on #39
Here’s the fix we are using. I would be happy to submit a pull request.

https://github.com/paychex/cordova-plugin-wkwebview-file-xhr/commit/6cf63a927fb7cf84cc891d8e648d4eff8a63d44c

[2019-07-27 12:24] cszasz commented on #40
That was my guess as well, but then, why does have the plugin any effect regarding the self signed certificates? Is the XHR calls are isolated from the WKWebView plugin as well?

My workaround was that on iOS (and only there) injected a login url into the html, which this way retrieved the required session cookies and then was able to download the images correctly.
The same applies to the logout p

[2019-07-28 23:24] noahcooper commented on #39
Photo uploads in my AngularJS app were broken after migrating to WKWebView. I tested using the fix from @elliottpalermo, and everything's working for me again.

[2019-08-05 08:49] yoldar opened #41 "Double encodeURI UTF-8 params"
Hi! Thanks for great plugin!

I noticed that when there is UTF-8 parameter value string it makes encodeURI twice.
How to fix this? Thanks!

<img width="1133" alt="Screen Shot 2019-08-05 at 14 43 07" src="https://user-images.githubusercontent.com/1597578/62451460-24acf880-b790-11e9-962f-aa1f21fe8221.png">

[2019-08-05 12:11] yoldar opened #42 "Getting "The network connection was lost." when uploading image file"
Hi!

I'm getting "The network connection was lost." when uploading file. No matter how file size is(tested on 128kb and 2mb). Here are logs:

`Opera Build[4820:554763] Task <0C57E5BB-7A5F-4D18-8391-3A6043AEF13E>.<14> HTTP load failed (error code: -1005 [1:57])`
`Opera Build[4820:554415] Task <0C57E5BB-7A5F-4D18-8391-3A6043AEF13E>.<14> finished with error - code: -1005`
`Opera Build[4820:554279] {"

[2019-08-05 19:05] nateweldon commented on #41
We are using this plugin and we have noticed this issue as well. Our team did some digging and it looks like the following commit caused the issue.

[https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/commit/3af1d4cf38bd484492433e97e1688bc57569a292](3af1d4cf38bd484492433e97e1688bc57569a292)

This change escapes the URLs given to the XHRs by calling stringByAddingPercentEncodingWithAllowed

[2019-08-06 14:45] akbarsha03 commented on #19
Hi Gvanmat, Need help here, Facing the same issue. In my case I don't use Cordova, I'm using react to render where I'm trying to show an image. Any suggestions, please?

[2019-08-06 20:04] noahcooper commented on #42
I get the same error, and it looks like the problem is the `Content-Length` header.

[2019-08-08 01:56] manish2788 commented on #41
@yoldar @nateweldon We are currently working to get this resolved, will be pushing the fix soon.

[2019-08-08 09:09] manish2788 commented on #41
@yoldar @nateweldon Did you guys used the latest plugin released at NPM ?

**NPM** : https://www.npmjs.com/package/cordova-plugin-wkwebview-file-xhr

If you take the plugin from npm and use it in your app, you should not face the mentioned issue.

Plugin at Github over here contains few unreleased changes which we will be pushing with next release.

We will revert following commit to fix the issue

[2019-08-08 13:20] nateweldon commented on #41
@manish2788. No, we forked the repo and reverted the following commit.

[https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/commit/fcaed644fbb81e9f02f0e3e93b7f6d1c9a27da08#diff-eac12baadc3e2716cfcde96eb25bc4cc](url)

We ran into another issue with multipart file upload on IOS only. We are working through submitting a new PR the oracle/cordova-plugin-wkwebview-file-xhr to fix this.

[2019-08-13 20:50] elliottpalermo commented on #42
I opened an issue a few days ago because I noticed that we were having problems using multi-part file upload in AngularJS (missing Content-type and boundary). The issue was due to some missing properties that were preventing Object.toString from identifying FormData properly.

It sounds like what you're describing _could_ be caused by that...

You can try the fix I have here and see if solves your

[2019-08-13 21:24] noahcooper commented on #42
I'm not sure if @yoldar is experiencing the same issue as me, but I get "The network connection was lost." even when using raw XHR and not the AngularJS `$http` service. As best I can tell, the issue is that the `Content-Length` header is incorrect.

[2019-08-14 09:23] manish2788 commented on #39
@elliottpalermo Thanks Elliot. We are currently in process of pushing changes to the repo. We will publish the changes soon that will take care of modifying the implementation of "toString" to resolve the issue identified by you.

[2019-08-20 01:24] noahcooper commented on #42
I just updated the reference to this plugin in my app from:

[code]

to:

[code]

With this change, this issue was resolved for me. It appears that there have been a number of changes made here in Git that are not on npm. (The last version on npm is 2 years old, whereas the most recent changes in this repo are from 3 months ago.)

[2019-08-22 00:42] noahcooper commented on #41
@nateweldon what is the issue you're experiencing with multipart/form-data requests on iOS, and what was your fix? I have ongoing problems with multipart requests that I cannot solve -- on iOS only, my requests result in the network connection being lost.

[2019-08-29 14:43] haveamission opened #43 "A similar plugin for Android?"
I am also seeing CORS issues on the latest versions of Android.

Is there a possibility that we might see this plugin for Android as well?

[2019-08-29 14:45] peppertech commented on #43
wkwebview is an iOS library.  It is not something that is available or used in Android.

[2019-08-29 14:47] haveamission commented on #43
I know that. I am asking if something similar could be made for Android's Chrome.

It's essentially a feature request

[2019-08-29 14:48] haveamission commented on #43
Oh nevermind, this is made by Oracle. It's not likely they'll make a random fix for Chrome too. Sorry about that.

[2019-08-29 14:48] #43 closed

[2019-09-13 18:50] SiavashBamshadnia opened #44 "How to load file:// images in Cordova iOS platform?"
Hi!
Please answer my question on stackoverflow:
https://stackoverflow.com/questions/57926513/how-to-load-file-images-in-cordova-ios-platform
Thanks.

[2019-09-13 21:13] gvanmat commented on #44
The images can only be read from the www folder of the applications bundle.

[2019-09-14 04:05] sbamtr commented on #44
Thanks for your attention, @gvanmat !
You mean there ins't any way to show images in app data on WKWebView?

[2019-09-14 14:21] gvanmat commented on #44
Images must be located under the context root if served from the local
device. The context root I where the index.html page lives which is the app
bundle and www folder. This is no different than standard web development.
Images loaded from under the subtree where the document is loaded is from
self. Images loaded from a different domain are cross origin.

On Fri, Sep 13, 2019, 10:05 PM Siavash Ba

[2019-09-16 05:27] lovelyelfpop commented on #44
The images under `file:///var/mobile/Applications/Container/Data/<GUID of app>/tmp/` can be loaded, it's not a cross origin issue, it's just apple don't let you display images located on anywhere Else

[2019-09-16 13:42] gvanmat commented on #44
Using this plug-in, you can load resources from any location under the applications bundle www folder using xhr. The target resources must be under the folder from where the index.html is loaded.

[2019-10-18 07:09] jammind opened #46 "Mis-parse of relative paths. Alway based-on “www/“ instead of the HTML page."
Case: In "settings/set.html”, read “settings/data.json” using fetch().
Current situation: Fetching “data.json” will get an error. I have to fetch “settings/data.json” to make it work.
Supposed: I should be able to fetch "data.json" directly since they are in the same folder.

It caused many bugs with dynamically loaded resources.

[2019-10-29 22:03] ruisalgado commented on #41
@manish2788 any word on that commit reversal? Just bumped into this same double encoding issue

[2019-10-30 12:42] shubckin opened #47 "Cross-origin error from canvas.ctx.getImageData()"
When i call method getImageData from canvas, i get error:
"Unable to get image data from canvas because the canvas has been tainted by cross-origin data".
Example to reproduce this error:
    function testCanvas(src) {
        var canvas = document.createElement("canvas");
        var img = new Image();
        img.addEventListener("load", function () {
            canvas.getContext("2d").drawImag

[2019-11-06 11:57] manish2788 commented on #47
@shubckin We will analyse the reported the issue and get back to you.

[2019-11-06 11:58] manish2788 commented on #46
@jammind Hi Jam, We will analyse the reported the issue and get back to you.

[2019-11-08 17:03] manish2788 commented on #41
@ruisalgado Hi Rui, We have reverted the commit fcaed644fbb81e9f02f0e3e93b7f6d1c9a27da08 to resolve the reported issue of Double encodeURI UTF-8 params. Change is now available in master branch.

[2019-11-08 19:04] noahcooper commented on #41
@manish2788 will you be bumping the version and publishing to npm?

[2019-11-09 09:53] manish2788 commented on #41
@noahcooper Yes Noah, In next step I will be publishing the updated version of the plugin over npm.

[2019-11-18 19:50] jacobweber commented on #41
Thanks! This just bit us as well.

[2019-11-18 23:35] noahcooper commented on #41
Any update on getting this updated on npm?

Also, it looks like the current version on npm is 2.1.2, but package.json here is 2.1.1.

[2019-11-20 06:28] manish2788 commented on #41
@noahcooper Hi Noah, We will be releasing the updated version of plugin to npm by 21st of November.

[2019-11-22 07:15] manish2788 commented on #41
@noahcooper Latest plugin version (2.1.3) has been released to npm

[2019-11-22 07:16] manish2788 commented on #39
@elliottpalermo Issue has been fixed and Latest plugin version (2.1.3) is released to npm.

[2019-12-10 07:30] #41 closed

[2020-01-09 08:15] ramgrg commented on #44
Isn't it possible through base64?

[2020-01-10 00:02] lovelyelfpop commented on #44
Base64 causes OOM

[2020-01-28 09:11] sajallimbu commented on #44
So is there a fix to load images from file:// ? I can load images by copying them in temp but this causes issues with memory when loading more images and some features that require to get images whenever a certain page is loaded.

[2020-01-28 10:24] sajallimbu commented on #27
Did you find a solution to this? I've been trying to solve this and have looked for some work arounds but i really dont want to copy files in temp or opt for a "local server on the phone" solution.

[2020-01-28 13:21] marc0n3 commented on #27
@sajallimbu Sorry, but no. I've abandoned the task

[2020-01-28 19:23] peppertech commented on #44
This is not something that can be "fixed"  It is a security issue to be able load files outside of the app root.  It will not be enabled.  As @gvanmat said in an earlier answer:

[2020-02-13 15:26] jacobg opened #50 "xhr-polyfill setting response status code 400 for remote https calls in airplane mode"
Here is the relevant code:
https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/blob/510de9340187f07c1626c2683101d71ab4637213/src/www/ios/xhr-polyfill.js#L666-L679

Why does it do that? An application should expect 0 status code for network issues, and defined http status codes should be exactly what comes back from server.

[2020-02-13 18:41] jacobg commented on #50
I created a forked repo to resolve this issue:
https://github.com/jacobg/cordova-plugin-wkwebview-file-xhr

It simply changes the `HttpHandler._error` handler as follows:

[code]

[2020-03-25 14:49] mgoetz85 commented on #44
So just to make sure I got this right:
there is no chance to save an image in e.g. NoCloud dataDirectory and show it in an <img /> tag?

[2020-04-24 07:27] kzimny opened #52 "Angular ChangeDetection doesn't work"
Hi,
does anybody know why the angular ChangeDetection is not working with `cordova-plugin-wkwebview-file-xhr`? I load data in my angular 9+ project and get the correct response from api but the view can not be refreshed.

[code]

As soon as `this.cdRef.markForCheck();` is run in NgZone the view is going refreshed:
[code]

Does `cordova-plugin-wkwebview-file-xhr` provides its own promise polyfill c

[2020-05-05 08:31] nicearma commented on #52
Same problem

[2020-05-07 06:10] manish2788 commented on #52
@kzimny Let me tru to reproduce this issue. Will get back to you.

[2020-05-09 08:04] kzimny commented on #52
@manish2788 yes, please fix the issue asap. With the `ngZone.run(...)` I found a temporary workaround. When I use `cordova-plugin-wkwebview` without `cordova-plugin-wkwebview-file-xhr` there is no issue with angular change detection. As soon as `cordova-plugin-wkwebview-file-xhr` is installed, change detection doesn't work as expected. `cordova-plugin-wkwebview` cannot deal with http cookies, that

[2020-05-09 17:42] nicearma commented on #52
I think the problem is about the plugin change the reference of XMLHttpRequest and because of this the code added/modify with ngZone is put it out.
I think to solve this problem we have have to see what ngZone work with XMLHttpRequest and ssee what is missing.

[2020-05-09 18:53] kzimny commented on #52
@nicearma ngZone is a temporary workaround.

No, `cordova-plugin-wkwebview-file-xhr` should work without calling ngZone.run(...).

[2020-05-10 22:43] nicearma commented on #52
I din't make reference to your code, you can see at https://github.com/angular/angular/search?q=XMLHttpRequest&unscoped_q=XMLHttpRequest that ngZone use the native XMLHttpRequest, so i think the solution at this problem is study the ngZone repository and see the interaction with XMLHttpRequest and compare with the custom XMLHttpRequest.

ngZone add the magic around all kind of JS code (xhr, rxjs,

[2020-05-11 06:01] kzimny commented on #52
Thank you for the hints. If you use `changeDetection: ChangeDetectionStrategy.OnPush,` in your component `this.cdRef.markForCheck();` is needed to refresh the view.

[2020-05-15 17:17] ygodin commented on #52
I'm having the same issue with Angular 9. Forcing refresh by interacting with the app will trigger an update. It would be very nice to have a fix, this plugin will saves us a lot of trouble.

[2020-05-19 12:27] kzimny commented on #52
@manish2788 any chance to get the plugin work with angular ChangeDetection?

[2020-05-19 13:17] Pigsnuck opened #53 "URLs are not properly escaped!"
After quite a bit of digging, I found out why cordova-plugin-wkwebkit-file-xhr is not correctly loading Mapbox GL JS URLs, even when the following preference is set in config.xml.

[code]

The following error is displayed any time I want to get a MapBox URL:

`ERROR: {"message":"Bad Request"}`

The reason is simple (but hard to find!): URLs are not being correctly escaped!
The fix is even simpler.

[2020-05-19 13:27] Pigsnuck commented on #53
Update: I created a fork with my fix. You can use that in your Cordova project if you prefer.

See: https://github.com/Pigsnuck/cordova-plugin-wkwebview-file-xhr

[2020-05-20 04:54] manish2788 commented on #52
Hi @kzimny,

Will it be possible for you to share a sample angular app which demonstrates the erratic behaviour pointed by you.

[2020-05-20 04:56] manish2788 commented on #53
Thanks @Pigsnuck. We will get back to you upon this with the fix

[2020-05-25 19:00] ygodin commented on #52
Hi @manish2788 , here's a demo app that expose the problem, i've added the necessary to the readme to be able to setup and start both web and cordova version so you can compare. The Angular build has sourcemap enabled, app.component.ts is the one that trigger the call and should refresh it's view at the same time.

[https://github.com/ygodin/cordova-angular-refresh-problem](url)

[2020-05-26 06:32] kzimny commented on #52
Thank you. Your example should work on android in windows environment but it doesn't in my case. When I start `cordova run android` on the app loads. The message LOADING does not disappear. npm run web doesn't work on windows. I get the message `Cannot GET /`. If the oracle guys work on windows your example will probably not work for them.

[2020-05-26 10:47] ygodin commented on #52
@kzimny the refresh problem happen only on IOS, this plugin doesn't replace xmlhttprequest on Android so no refresh problem. Not the point of this issue i think, but after adding the android platform (not included in the setup.sh) it works fine.

For the web version it might have something to do with the base path, i'll check.

[2020-05-26 10:58] kzimny commented on #52
@ygodin agree that the problem does not exist on android platform. But that's the point. Your example doesn't work on android on my side. The message LOADING does not disapper on android running on windows environment. Hope it works for oracle guys.

[2020-05-26 10:59] ygodin commented on #52
@kzimny Do you see any error in the debugger ?

[2020-05-26 11:31] kzimny commented on #52
Cordova 9.0.1, I found that it works fine on real device bot not on android emulator. Maybe something is wrong with my emulator settings. Anyway, android was newer a problem. The problem exist on iOS. Hope @manish2788 can find the solution soon.

[2020-05-26 11:46] ygodin commented on #52
@kzimny i just pushed a fix for the windows web version, the baseDir had to be changed so it works on both platform.

[2020-05-26 11:51] ygodin commented on #52
In the meatime, here's how we fixed it, we load this service at the root level of our app, this catch everything, not only HTTPClient. From what i see it looks like a race condition between the plugin polyfill and zone, both trying to patch xmlhttprequest.

[code]

[2020-05-27 07:33] ragcsalo commented on #47
I have the same problem.... also all my Javascript files that are included in the main index.html are treated as cross-origin resources, therefore I get no detailed Javascript errors.

I hope there will be a solution for all this nightmare soon. :-)

[2020-05-27 07:41] ragcsalo commented on #44
Can you write an example code of loading a local image (from the www/img folder) to a HTML5 canvas element, and getting the image data without getting a CORS error?  Now I use this code, which loads the image just fine:

`img.src = cordova.file.applicationDirectory+'www/img/image.png';`

But when I try to access the image data using `ctx.getImageData()` I still get a CORS error.
Also if I use the

[2020-05-28 00:00] lovelyelfpop commented on #44
Use this plugin https://github.com/communico/cordova-httpd to start a local server inside app
[code]

For example, if a file path looks like：
file:///data/user/0/com.pushsoft.aio5app/files/image/7c8f2985-01b3-4fd2-ad7b-f39812a920a2

you can use this url to show the image：
http://127.0.0.1:8080/image/7c8f2985-01b3-4fd2-ad7b-f39812a920a2

[2020-05-28 06:35] manish2788 commented on #52
Thanks for sharing the app and relevant informations. Will get back upon this.

[2020-05-28 20:11] PawelGIX opened #54 "The certificate for this server is invalid."
The certificate for this server is invalid. You might be connecting to a server that is pretending to be...

My server: https://mrecepta.oneplusone.pl
Any idea why i get this error. I also get tis error on another server & domain https://mrecepta.pl

[2020-06-02 13:54] breautek opened #55 "cordova-ios 6 support"
Hi there,

Cordova has released `cordova-ios@6` which implements the `WKWebView` making their [wkwebview](https://github.com/apache/cordova-plugin-wkwebview-engine) plugin obsolete.

But for users who still need to use the `file://` scheme, this plugin is still necessary if you need to use XHR to local `file://` paths.

I would advise making a minor/patch release that limits version 2.x to cordova

[2020-06-03 14:56] hamid-hassani commented on #53
This fix is not working for me, Please double check...

[2020-06-03 20:42] w4ugit opened #56 "Unable to post message to file://. Recipient has origin null."
I have an application written on vue. It worked until I switched to WkWebView. Then I started to get this error - Unable to post message to file: //. Recipient has origin null. Installing your plugin did not help. Do I have to do anything else in my code?

[2020-06-05 19:38] marcossantana commented on #56
I'm getting the same error. Someone fixed it?

[2020-06-06 18:10] manish2788 commented on #55
@breautek Thanks Norman. We are woking on this. We will soon be broadcasting our next course of actions.

[2020-06-06 18:13] manish2788 commented on #56
@w4ugit What version of cordova you are using? Can you furnish more detail about your project setup.

[2020-06-06 18:22] manish2788 commented on #54
@PawelGIX Seems to be issue with server setting which you are trying to connect. I don't see any issue from plugin's end. Can you furnish more detail about your setup (Cordova version etc.)

[2020-06-06 18:25] manish2788 commented on #50
@jacobg Will have a look into this issue and get back to you

[2020-06-06 18:26] manish2788 commented on #47
@ragcsalo We are looking into the issue. Will update you by next week.

[2020-06-07 14:56] marcossantana commented on #56
@manish2788 can we talk about this? using email or skype? i can pay from your support.

[2020-06-08 05:09] manish2788 commented on #56
@marcossantana Please share the detail of your setup.

[2020-06-08 11:53] marcossantana commented on #56
I have some specifics features. If it is possible, i would talk privating with you.

[2020-06-16 19:17] ej-dunne commented on #55
@breautek just so you know, I forked this repo and simply removed the wkwebview plugin dependency from the plugin.xml file (line 30) and that seems to have worked. I'm not sure if there will be any other issues due to the small change I made though, so I am still waiting for and new release here, but that got things working with cordova-ios 6.0.0 for now at least

[2020-06-17 19:12] ej-dunne commented on #56
I had the same problem, searched everywhere and couldn't find an answer, but this worked. Either create a plugin that does the following or add it to your existing code

Add the following to your header:

#import <WebKit/WebKit.h>
#import <Cordova/CDV.h>

Then the following to your code:

NSLog(@"Updating webview to allow local file access");
WKWebView *wkWebView = (WKWebView *) self.webViewEngine

[2020-06-23 22:00] nickredding commented on #55
It seems to me the Cordova iOS 6.0.0 release addresses the file:// issue when loading files from the main bundle but not the cross-origin issue when accessing remote endpoints (this is the second bullet point under "About the cordova-plugin-wkwebview-file-xhr") so this plugin will still be required for apps that need to access arbitrary remote endpoints that are configured to disallow requests fro

[2020-07-01 08:07] AlekseyPimenov opened #57 "Cookies not stored after app relaunch"
I use that plugin to have ability to use 'Set-Cookie' header that required my app. All works fine, (thanks for that a lot) except one thing.
But after relaunch app all cookies looks like not stored and user should login again.
Is there way to store it?

[2020-07-02 15:40] lehizojie commented on #29
@globules-io Please did you ever resolve this issue? I am having the same problem.

[2020-07-02 16:10] globules-io commented on #29
@lehizojie yes, via https://github.com/globules-io/cordova-plugin-wkwebviewxhrfix

[2020-07-02 18:35] lehizojie commented on #29
Thanks!!! This worked.

[2020-07-03 00:12] lovelyelfpop commented on #29
Use this plugin https://github.com/communico/cordova-httpd to start a local server inside app
[code]
For example, if a file path looks like：
file:///data/user/0/com.pushsoft.aio5app/files/image/7c8f2985-01b3-4fd2-ad7b-f39812a920a2

you can use this url to show the image：
http://127.0.0.1:8080/image/7c8f2985-01b3-4fd2-ad7b-f39812a920a2

[2020-07-07 07:18] fattanasio commented on #44
Hi, i have same problem to show a preview of an images captured with cordova-plugin-camera. This photo is in file://etc....
Can't I preview this file?
Thank you, bye

[2020-07-08 20:22] adamjpeterson opened #58 "Does not seem to work with AWS Javascript SDK for S3"
Prior to installing cordova-plugin-wkwebview-engine and cordova-plugin-wkwebview-file-xhr I was able to upload blobs to AWS via their javascript S3 SDK. Now when running the exact same code, the AWS sdk errors out with "null" and no real information.

Here is my code (given a path, bucket_name, file blob, and configured AWS)
  var file_name = encodeURIComponent(path.substr(path.lastIndexOf('/')+1)

[2020-07-09 00:13] lovelyelfpop commented on #44
An other solution
https://github.com/apache/cordova-plugin-file/pull/296

This PR solves this by allowing access to cdvfile://localhost/bundle/www/cordova.js using the url: https://xxx.com/cdvfile/bundle/www/cordova.js

[2020-07-10 04:54] idoodler opened #59 "Not working on iOS 14"
This plugin is not working on iOS 14 devices. Tested on my iPhone 11 Pro running the second Beta of iOS 14.

I am not sure how I should debug this. By using Wireshark I could see a lots of `OPTIONS` requests. The log of the Browsers Network monitor is not really useful. I will monitor this and keep this issue updated. It may be an issue on Apples side.

Anyone has similar issues?

[2020-07-14 22:43] adamjpeterson commented on #58
A follow up: while I was never able to get any of the AWS javascript SDKs to work, I found a workaround. I was able to use XHR and post directly to S3. More info can be found here: https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-UsingHTTPPOST.html. This SO convo (and the links within the question and answer) were very helpful: https://stackoverflow.com/questions/16276244/use-aws-s3-success-a

[2020-07-15 19:31] p7161 commented on #59
Same issue. Just not work in iOS 14

[2020-07-16 05:57] manish2788 commented on #59
@idoodler We are working on validating this behavior. We will revert with the updates soon.

[2020-07-16 05:57] manish2788 commented on #58
Hi @adamjpeterson , We are working on validating certain behaviors of this plugin. We will revert with the updates soon.

[2020-07-16 05:59] manish2788 commented on #55
We are working on validating certain features of this plugin. We will revert with updates soon.

[2020-07-16 13:02] globules-io commented on #55
https://github.com/globules-io/cordova-plugin-ios-xhr

[2020-07-16 13:03] globules-io commented on #29
cordova-ios +6 compatible
https://github.com/globules-io/cordova-plugin-ios-xhr

[2020-07-17 05:59] sanket-bhalerao commented on #52
@ygodin can you specify any details on how to use/load this service?

[2020-07-17 06:00] sanket-bhalerao commented on #52
@manish2788 is there any progress on this?

[2020-07-17 10:20] manish2788 commented on #52
@sanket-bhalerao Hi Sanket, We are working on the reported issues. Next week we be sharing the updates.

[2020-07-19 17:12] manish2788 commented on #58
Hi Adam (@adamjpeterson ), Can you provide me sample app which allows me to reproduce the issue reported by you.

[2020-07-19 17:14] manish2788 commented on #57
Hi @AlekseyPimenov , Your SDK should provide you a way to store the cookie, this plugin just resolves couple of issue in WKwbeview as mentioned in the description.

[2020-07-19 17:17] manish2788 commented on #56
Closing this issue as not response received from issue filer.

[2020-07-19 17:17] #56 closed

[2020-07-19 17:18] manish2788 commented on #54
Closing this issue as no response received from issue filer.

[2020-07-19 17:18] #54 closed

[2020-07-19 19:13] adamjpeterson commented on #58
Hi @manish2788 I'm not sure I can. Apple won't approve any app that is not WkWebView, I'm now realizing I'm running into size limits with the post directly to s3 so it's not yet a solution that will work, and I can't release breaking code (our app on UIWebView works great with the AWS javascript SDK). At the moment I'm kind of stuck until I can figure this out. Am open to ideas.

[2020-07-23 12:37] timkellypa commented on #58
My team had a similar issue.  I believe the problem is that in xhr-polyfill.js, HEADERS_RECEIVED is spelled incorrectly (HEADERS_RECIEVED).  After changing it, things appeared to work.

AWS seems to attempt to monitor that state, but it fails the check, since the const is spelled incorrectly.

[2020-07-23 22:29] adamjpeterson commented on #58
That was it! Wow. Not getting those hours back :).

FYI the httpUploadProgress event doesn't fire. But it looks like that's a separate, documented issue here.

[2020-07-23 22:29] #58 closed

[2020-07-24 08:39] ptorrent commented on #44
Hello,

Is it possible to write a file (ex: an image) into the context root directory (where is index.html) and read it with file:// ?

Thanks for your help

[2020-07-24 12:50] lovelyelfpop commented on #44
@ptorrent  Assets directory is readonly.

[2020-07-25 08:58] ptorrent commented on #44
So what is the benefit of this plugin  ?

[2020-07-25 12:13] lovelyelfpop commented on #44
cordova-ios@6.0.0+ supports custom scheme, you can use url like `myscheme://localhost/filename.ext` to access a local file.
And there is a function to convert a file url to a  custom scheme url.
For example, `window.WkWebView.convertFilePath('file:///var/mobile/Containers/Data/Application/{UUID}/tmp/1.jpg')` gets `cdv://localhost/_app_file_/var/mobile/Containers/Data/Application/{UUID}/tmp/1.jpg`,

[2020-07-25 12:30] ptorrent commented on #44
I assume "tmp" means the file is not persistent? On android cdvfile works fine. WkWebView doesn't support schema anymore.

How would creating my own schema solve this problem? Why would I need to create new schemas? Does it make sense?

Is the solution proposed by lovelyelfpop the only solution to make it work on android / ios?

Thanks for your support !

[2020-07-26 11:18] lovelyelfpop commented on #44
All directory(e.g. Document, Library) under `file:///var/mobile/Containers/Data/Application/{UUID}/`, not just `tmp`

[2020-07-26 17:58] #39 closed

[2020-07-26 17:58] manish2788 commented on #38
No response!! Closing the issue.

[2020-07-26 17:58] #38 closed

[2020-07-26 19:20] ptorrent commented on #44
thanks you for your clarification !

[2020-07-27 05:21] sanket-bhalerao commented on #52
@manish2788 any updates on this?

[2020-07-27 11:12] manish2788 commented on #52
@sanket-bhalerao We have been verifying the sample app provided by @ygodin.
@ygodin I was not able to replicate the behaviour you mentioned in Read Me file of your repo. Does your repo contains any changes on top of our plugin to resolve the issue.

[2020-07-27 11:14] #40 closed

[2020-07-27 12:02] manish2788 commented on #46
Hi Jam, This is doesn't seems to be plugin issue. Plugin follows similar standards of web development, the context root is place where the index.html page lives which is the app bundle and www folder. You need to map your files accordingly.

[2020-07-27 12:02] #46 closed

[2020-07-27 12:10] manish2788 commented on #53
@Pigsnuck Can you provide a sample app demonstrating the issue you faced.

[2020-07-27 12:45] manish2788 commented on #59
@idoodler I was successfully able to validate the plugin over iOS 14 Beta without any issue. If you are still facing issue can you share a sample app which can be verified at my end. Moreover can you provide cordova, cordova-ios version of your setup.

[2020-08-05 11:58] satish0563 opened #60 "not working with xml request"
I am calling API with XML request but it goes inside  exception delivering event

[2020-08-07 10:06] manish2788 commented on #60
@satish0563 Can you please elaborate the issue you are facing. What do you mean by calling API? which API you intend to call.

[2020-08-07 19:55] ppetree commented on #55
To add to this, if you're using any multi-page framework such as Framework7 or even an old version of JQM, you will need this plugin.  With CLI 10 you can't build with this plugin and you're dead in the water without it.

[2020-08-10 05:33] #60 closed

[2020-08-10 05:34] manish2788 commented on #60
Closing this issue due to lack of response. Please log another issue with detail and logs if you need any assistance.

[2020-08-10 05:35] manish2788 commented on #53
Closing this issue due to lack of response.

[2020-08-10 05:35] #53 closed

[2020-08-10 05:39] manish2788 commented on #42
Please verify with latest version of plugin.

[2020-08-10 05:39] #42 closed

[2020-08-13 17:19] franknoel commented on #60
We had a similar issue, our `XMLHttpRequest` request always had the `text` type on iOS.
We used the following code to force the request type:

[code]

[2020-08-15 13:28] Karanveer-flymedia opened #61 "Images are still not showing in from app img folder"
Hii dear,
can you please help me i am stucked just because of this issue... images are still not showing in app after installing this plugin, i am using ionic1 and not able to upload my app on appstore please help me...

[2020-08-18 07:23] DennisHerr commented on #52
so there is a simple fix for this.
the only thing which has to be done is applying a monkey patch to RXJs.

so in a HTTP Interceptor:

[code]

[2020-08-18 07:31] DennisHerr commented on #52
so there is a simple fix for this. ✔️
the only thing which has to be done is applying a monkey patch to RXJs.

so I have done it inside my HTTP Interceptor for all requests.

[code]

so there we are. all request are forced into the right zone and the angular change detection frees correctly. 😄

[2020-08-19 05:43] manish2788 commented on #59
Closing issue due to lack of response.

[2020-08-19 05:43] #59 closed

[2020-08-19 16:04] vbraun opened #62 "Angular Zone interactions"
There are some tricky interactions between angular (2+) zone.js and this plugin; It would be good to add a section to the documentation. My suggestion is:

### Angular (2+) Zone

Make sure that the polyfill.js script is loaded before cordova.js in your index.html
[code]
The polyfill is applied synchronously, but cordova adds and initializes plugins asynchronously. Any other load order is a race co

[2020-08-20 15:22] Ruud-cb opened #63 "Spaces in url's gives issues"
Hi,
We have a lot of svg's that, unfortunately, contain spaces in there file names (loaded from external packages). This results in 404 not found errors.
In this section I added some code https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/blob/master/src/ios/CDVWKWebViewFileXhr.m#L132

[code]

Perhaps you want to add this and some other modifications.

[2020-08-24 16:51] AraHovakimyan commented on #55
@breautek You can use for Cordova iOS 6.0.0, 6.1.0

cordova plugin add https://github.com/AraHovakimyan/cordova-plugin-wkwebviewxhrfix

It works fine for me.

[2020-09-02 13:31] fpardigon opened #64 "SOAP"
Hello,

Do you know if the cordova-plugin-wkwebview-file-xhr plug-in works with SOAP requests?

I am having issues with the SOAP request and the module.
It seems that the data and some information of the header are not transmitted.

[2020-09-08 06:10] jpike88 commented on #55
@manish2788 'validating certain features'... what? It's literally one line in the config.xml you remove and voila it works. And now it's mid-Sept, almost 2 months later. Corporate doublespeak nonsense.

[2020-09-08 09:25] manish2788 commented on #55
@jpike88 We have other features as well which requires release. Cordova-ios6 support is one of the feature. We have planned release next week.

[2020-09-08 10:23] manish2788 commented on #64
@fpardigon Can you provide a sample app our briefly describe your configuration and platform details.

[2020-09-09 05:54] manish2788 commented on #55
Latest Plugin Version 3.0.0 takes care of cordova-ios6 support.

[2020-09-09 05:54] #55 closed

[2020-09-22 14:19] AareFabrik opened #65 "Support For Synchronous Requests"
This plugin apparently does not support synchronous XHRequests.

Is this planned to be implemented?

I depend on a third party library which is using following synchronous Request:

[code]

Or any hints how to do this?

[2020-09-25 08:32] facetbarcelona commented on #65
The following plugin has done the trick for me (I do synchronous requests for local resources):
https://github.com/TheMattRay/cordova-plugin-wkwebviewxhrfix

I hope this helps.

[2020-09-25 08:34] AareFabrik commented on #65
Hello, thanks for the answer. We finally finished with the same fork as you mentioned. Hopefully it helps others to find it quicker.

[2020-09-27 19:32] ygyg70 commented on #55
I am still getting the same issue with cordova-ios6.1.1
https://github.com/AraHovakimyan/cordova-plugin-wkwebviewxhrfix works for me

[2020-09-28 05:21] manish2788 commented on #64
Closing the thread due to lack of response.

[2020-09-28 05:21] #64 closed

[2020-09-28 05:32] manish2788 commented on #61
@Karanveer-flymedia Can you share detail of your setup and how you are configuring the file path.

[2020-09-28 05:52] manish2788 commented on #65
@AareFabrik We don't have any plan to support synchronous requests for local resources in near future considering Synchronous XHR is now in deprecation state.

[2020-09-28 05:52] #65 closed

[2020-09-28 05:55] #57 closed

[2020-09-28 06:00] manish2788 commented on #52
Plugin doesn't support out of the box fix for Angular. Closing the issue.

[2020-09-28 06:00] #52 closed

[2020-09-28 06:00] manish2788 commented on #62
Plugin doesn't support out of the box fix for Angular. Closing the issue.

[2020-09-28 06:00] #62 closed

[2020-09-28 06:13] manish2788 commented on #63
I would recommend you to use encodeURI api in javascript to handle filename with spaces.

[2020-09-28 06:13] #63 closed

[2020-09-28 06:51] manish2788 commented on #47
@shubckin I am not able to reproduce the issue. Can you please verify the same using latest version of plugin.

[2020-09-28 08:37] Karanveer-flymedia commented on #61
@manish2788 - it's done from my side this was because of my mistake... thanks for reply...

[2020-09-28 12:11] AraHovakimyan commented on #55
Can you explain the issue?
The plugin you mentioned "https://github.com/AraHovakimyan/cordova-plugin-wkwebviewxhrfix" can't solve your problem or a problem is with Oracle plugin?

[2020-09-28 12:11] AraHovakimyan commented on #55
Can you explain the issue?
The plugin you mentioned "https://github.com/AraHovakimyan/cordova-plugin-wkwebviewxhrfix" can't solve your problem or a problem is with Oracle plugin?

[2020-09-29 12:23] Gr33nW33n opened #66 "Possibility to handle remote image sources with this plugin"
Hello,

is it possible, to also handle image sources (img src="...") and css background images (url("...")) with this plugin?

I'm asking because at the moment I'm using this plugin to handle all of our xhr calls to be called from native, so that our cookies are sent with the xhr call on iOS.

We also have image sources that needs to be sent with a cookie included, but with the iOS 14 Intelligent

[2020-10-01 06:11] ewfian opened #68 "The space lost after the colon in getAllResponseHeaders()"
I found that The return value of polyfilled `getAllResponseHeaders()` will not same as native, it will make some thing broken.
I have created a pull request to fix this : https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/pull/67

1. The origin http header
![image](https://user-images.githubusercontent.com/12423122/94771314-e772e380-03f1-11eb-9d8b-f4e7d10718a3.png)

2. Parsed response hea

[2020-10-02 12:29] robertok-weiji opened #69 "Problem loading an iframe with src pointing to the sandbox"
As stated in the plugin description "the plugin verifies that the standardized path of the target URL is within the "www" folder of the application's main bundle or in the /Library path of the application data directory.". I'm trying to load in <iframe> inside my application. If the src target is in the "www" directory, or outside in the world "https://" it works, but if I'm pointing to an html fi

[2020-10-05 06:38] manish2788 commented on #69
@robertok-weiji Can you provide a sample code of requesting the resource from Library path in your application?

[2020-10-05 06:40] manish2788 commented on #68
@ewfian We will have look into the issue. We don't accept pull requests for this repository, we will analyse the issue and publish the fix if required. We keep updated on same.

[2020-10-05 06:44] manish2788 commented on #66
@Gr33nW33n This plugin makes use  XHR requests to resolve the WKWebview issues. You request cannot be incorporated.

[2020-10-05 06:44] #66 closed

[2020-10-05 06:45] #61 closed

[2020-10-05 07:45] ewfian commented on #68
Thanks for response.
Here is the spec of `getAllResponseHeaders()` : https://xhr.spec.whatwg.org/#the-getallresponseheaders()-method
(From https://github.com/Azure/azure-sdk-for-js/issues/11581#issuecomment-701974770)

You can also find that `followed by header’s value, followed by a 0x0D 0x0A byte pair.`

[2020-10-13 09:33] robertok-weiji commented on #69
Yes, i've created a simple helloworld project with cordova 10.0.0

`cordova create helloworld`

I'm using the cordova-plugin-file in order to write the sample iframe source to the sandbox.

`cordova plugin add cordova-plugin-file`

In the index.js sample file, i've added this to the onDeviceReady function, to dynamically add an iframe pointing to dataDirectory:

`function onDeviceReady() {
    //

[2020-10-16 10:01] ashishkumar2804 opened #70 "Issue accessing Http url"
While trying to access url with http protocol, I am facing below issue
Http Error code: 0
xhr-polyfil.js - exception delivering event {"isTrusted":false} syntax Error: Json Parse error: Unexpected EOF

It works fine with url on Https protocol.

App built on cordova ios 5.1.1 with wkwebview

[2020-10-16 10:16] ashishkumar2804 commented on #70
This is what I am seeing while debugging through safari

<img width="1061" alt="Screenshot 2020-10-16 at 3 45 01 PM" src="https://user-images.githubusercontent.com/47623845/96246780-c0f2a200-0fc6-11eb-9a0c-867b02dee975.png">

[2020-10-19 05:59] ashishkumar2804 commented on #70
Closing this, as it was missed config issue. related closed bug
https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/issues/24

[2020-10-19 05:59] #70 closed

[2020-10-21 10:17] robertok-weiji commented on #69
Hi @manish2788 , have you got to check this? Thanks.

[2020-10-26 17:42] iwan-uschka commented on #66
Hey @Gr33nW33n , have you found a solution here? I also need to load assets that are only accessible by sending a valid session cookie. I can't make it work on iOS 12. Does it work for you on iOS 12?

[2020-10-28 10:47] manish2788 commented on #69
Thanks @robertok-weiji for sharing let us verify and get back to you.

[2020-10-29 10:34] Gr33nW33n commented on #66
Hey @iwan-uschka,
I actually fetched the images via ajax calls, so the session cookies were sent with this plugin.

BR

[2020-10-29 11:15] iwan-uschka commented on #66
Thx @Gr33nW33n for getting back on this one.
Your solution will probably work for data that
- can be parsed (JSON for instance)
- can be added to the DOM as a blob (image for instance)
- doesn't need to be streamed like audio or video (If I got that right you can't get access to the data during loading process)

I will checkout https://github.com/aporat/cordova-plugin-fetch/issues/23 next. Maybe i

[2020-11-02 07:46] khjung29 opened #71 "How can I get jQuery to perform a synchronous, rather than asynchronous, Ajax request?"
jQuery.ajax({
    url: strUrl,
    success: function(html) {
      strReturn = html;
    },
    async:false
  });

async: false not working...

[2020-11-06 02:44] Lindsay-Needs-Sleep commented on #44
This worked for me!
(Worked for videos too.)

[2020-11-06 05:58] manish2788 commented on #71
@khjung29 This issue doesn't relate to the plugin. You enquire the same in jQuery forum.

[2020-11-06 05:58] #71 closed

[2020-11-06 06:00] #44 closed

[2020-11-12 12:27] codeworrior commented on #71
We encounter the same in one of our Cordova apps.

This IMHO is not a question about how to use the jQuery API. What the author does, is a correct way to send sync requests. However, the success handler is not called synchronously as expected, but asynchronously. As a consequence, any sync jQuery.ajax() does not deliver a result.

AFAIK, jQuery's implementation relies on the `readystatechange` eve

[2020-11-12 12:41] codeworrior commented on #71
I didn't dive too much into it, but looking at [the polyfill's implementation](https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/blob/master/src/www/ios/xhr-polyfill.js#L1221-L1230), I think its `XMLHttpRequest.prototype.send` method cannot deliver the `readystatechange` events synchronously, because its implementation is promise based (using `getHandler()`).

[2020-11-16 07:17] martijnmichel opened #72 "This plugin makes Android give an error"
After having installed this plugin my app started working on iOS (loading mp3 files) but stopped working for android giving an error:

I/chromium: [INFO:CONSOLE(535)] "Fetch API cannot load file:///android_asset/www/statics/sound/piano/C6.mp3. URL scheme "file" is not supported.", source: file:///android_asset/www/js/vendor.js (535)

[2020-11-17 06:22] manish2788 commented on #72
@martijnmichel This plugin is targeted to be used only on iOS platform. It is not supposed to be installed on an android app.

[2020-11-17 06:22] #72 closed

[2020-11-17 06:28] manish2788 commented on #69
@robertok-weiji Is this the place where you are facing issue in fetching iframe.html
`fs.getFile("iframe.html"`

[2020-11-17 07:53] martijnmichel commented on #72
How can I install it on iOS only?

[2020-11-17 08:28] robertok-weiji commented on #69
Sorry @manish2788 , I don't understand, what is the problem in this statement? Thanks.

[2020-11-18 13:08] evo-dh opened #73 "Is it possible to add this functionality for iframes too?"
I want to access elements of our website that is embedded in a iframe of our ios App.
It has the same problem as file access.
SecurityError: Blocked a frame with origin "file://" from accessing a cross origin frame...

Is it possible to add the functionality of this plugin for iframes?
The only other solution is to set-up a web server locally.
Like here: https://stackoverflow.com/questions/5915882

[2020-12-04 06:56] manish2788 commented on #73
@evo-dh This plugin right now doesn't support to extend the solution to iframes.

[2020-12-04 06:56] #73 closed

[2020-12-08 08:08] knkavya opened #74 "cordova ios 6.1.0 wkwebview all xhr POST requests are converting as blob request."
Hi,

I have migrated the Cordova app from UIWebview to WKWebview.I have a native scanner screen that is invoked from the webpage and to invoke this I am using the "cordova-plugin-wkwebview-file-xhr" and "cordova-plugin-wkwebviewxhrfix" plugins.
Which is working fine by launching a scanner. But on the same page, the other ajax post calls are getting failed and they are converted as blob requests.

[2020-12-09 11:52] taxuangiao opened #75 "Crash app when send ajax request with FormData with file size ~40MB"
At this moment, all requests are intercepted by this plugin.
However, when i send an ajax request with FormData with file size ~40MB, my application is crashed.
These is log conent

Can someone please help me to fix this issue?
Thank you so much.

[2020-12-10 04:28] knkavya commented on #74
Hi,

Can someone please help me in solving the above issue?
Is there any alternate plugin that is available to serve the same purpose as "cordova-plugin-wkwebview-file-xhr"?

[2020-12-10 05:35] manish2788 commented on #75
@taxuangiao We will look into the issue and get back to you at earliest.

[2020-12-10 07:33] manish2788 commented on #75
@taxuangiao We are not able to reproduce this issue. Can you share a sample app demonstrating the issue being reported by you.

[2020-12-16 11:04] manish2788 commented on #75
Closing the issue due to lack of response.

[2020-12-16 11:04] #75 closed

[2020-12-16 11:07] manish2788 commented on #74
@knkavya Any specific reason for using "cordova-plugin-wkwebviewxhrfix" plugin along with this plugin?

[2020-12-16 11:21] knkavya commented on #74
@manish2788 To provide local file access in our app I am using "cordova-plugin-wkwebviewxhrfix" plugin.

[2020-12-17 03:25] BrianCortes commented on #19
Hi @gvanmat I am having the same error in my simulator is working but on device with this url  file:///var/mobile/Containers/Data/Application/6DCD480A-7283-4697-938E-52CCB43E2B1A/Library/files/a68c1c5c-1585-41ce-a5aa-693d5db41ac3.png I get this Failed to load resource: The operation couldn’t be completed. Operation not permitted

I am using those plugin:
- cordova-plugin-wkwebviewxhrfix
- cordova-

[2020-12-17 03:26] manish2788 commented on #74
@knkavya Does that plugin do anything different from our plugin "cordova-plugin-wkwebviewxhr". Reason I am asking is to ensure the other plugin is not causing any conflict.

[2020-12-17 04:18] knkavya commented on #74
@manish2788 Yes. I am having a json file with json data which is kept in some server location and I am reading it as XMLHttpRequest(). Only by using "cordova-plugin-wkwebview-file-xhr" plugin, I was not able to read the json file. After installing "cordova-plugin-wkwebviewxhrfix" plugin along with this plugin I was able to read the json data properly in my app.

But this plugin is used only to rea

[2020-12-21 17:32] newuser44 commented on #74
I'm having the same problem that my requests are showing up as blobs.   I don't know how big of deal that is except makes it harder to debug requests.
I was pointed to this plugin to help with ios 14 and cross sites cookies being saved correctly.
Also confused on what this plugin is actually doing.  Seems like XMLHttpRequest is a javascript funtion.

Probably wonder off and not sure if this has to

[2020-12-21 19:15] csantanu opened #76 "cordova iOS 5.1.1 cannot load resources due to file:// protocol"
Due to UIWebview to WKWebview migration, we have used Corodova iOS 5.1.1 and this plugin@2.1.4

All the CORS issue is resolved and build is successful. However, in device it's failing to load eBook cover images & epub files after successfully downloading from remote (it's an ebook application). Safari web inspector shows 'cannot load resource. Operation not permitted' error. Console is showing dow

[2020-12-21 19:22] csantanu commented on #19
Yes, me too facing the same issue and I reported this in a new issue few minutes back.

[2020-12-23 09:25] knkavya commented on #74
Is anyone having an update on the fix for this issue or any alternate solution for this?

[2020-12-23 16:14] BrianCortes commented on #76
hi @csantanu
I have had the same problem 😭  I am using Cordova iOS 6.1.0 and I resolved the problem with this steps:
according to [cordova](https://cordova.apache.org/howto/2020/07/18/uiwebview-warning.html) you need to add a new custom schema to load local files:

Add those preferences in your config.xml
[code]
**Note:** maybe you need to add this plugin _cordova-plugin-wkwebview-engine_, because

[2020-12-23 19:23] newuser44 commented on #74
I got things working this way.
https://forum.ionicframework.com/t/ionic-3-wkwebview-ios-14-itp-best-options/201628/2?u=helpmelearn

I removed this plugin and other cookie plugins to fix this ios 14 issue.

I'm on ionic 3.20  with ionic-ios 5.1.1.

[2020-12-24 09:35] csantanu commented on #76
Hello @BrianCortes Thanks for the inputs. I have meanwhile upgraded my project to Cordova iOS 6.1.1. This does away with the cordova-plugin-wkwebview-engine as it is already built into the core.

Based on few other posts in stackexchange / GitHub, I have not used any schema but added this plugin & cordova-plugin-wkwebviewxhrfix. The app builds and executes without any issue in the device. But the

[2020-12-26 17:06] csantanu commented on #76
@BrianCortes No luck. Added security-policy & schema. Same issue, the images / files showed correctly downloaded in console but all with file:// tags and so when trying to open, they throw error.

[2020-12-28 05:44] vprabusiva commented on #71
I am also faced same issue. Is there any solution???

[2020-12-30 09:28] manish2788 commented on #76
@csantanu Any reason for using cordova-plugin-wkwebviewxhrfix along with this plugin? Can you please summarise the issue you are facing when using cordova-plugin-wkwebviewxhr plugin (v3.0) alone. We don't provide cordova-plugin-wkwebviewxhrfix so can't comment if usage of that plugin is causing any issue.

[2020-12-31 05:50] knkavya commented on #74
I am using cordova 6.1.0 now if I downgrade the version to 5.1.1 which still having some of the references to UIWebview, So not sure whether Apple will approve the app or not.

Cordova version 5.1.1 for WKWebview is internally having "cordova-plugin-wkwebview-file-xhr" plugin installed with file xhr-polyfill.js and where the issue still exists.

[2021-01-02 07:01] csantanu commented on #76
@manish2788 without using this plugin (AraHovakimyan/cordova-plugin-wkwebviewxhrfix) along with Oracle's plugin, the app stops during loading itself. Web console starts showing CORS errors and none of the remote resources are loaded. As soon as the additional fix plugin is added, all resources gets downloaded and loaded correctly. However, what I understood from this plugin's readme, that it is su

[2021-01-08 15:28] FrankStierle opened #77 "formdata.set not working with file and name property already set"
We have problems with generated api code from swagger, like that:

formData.append("name", file);

Here the filename is not provided bu file is a File Object extended from Blob and has the filename already in the "name"  property.

This will work when you change the code in the formdata-polyfill.js line 116:

From:

  if (value && Blob.prototype.isPrototypeOf(value))

To:

  if (value && !value.na

[2021-01-15 06:40] knkavya commented on #74
Hi Team,

Any update on this issue fix?

[2021-01-18 06:59] manish2788 commented on #77
@FrankStierle Can you share a sample cordova app demonstrating the above mentioned issue?

[2021-01-18 11:56] taxuangiao opened #78 "XHR load local file synchronization"
Dear @All,
At this moment, when use this plugin, I cannot load local file via XHR synchronization as below:
`xhttp.open("GET", filePath, false);
xhttp.send(null);
var text = xhttp.responseText;
`
Is this issue?
Thank you so much.

[2021-01-19 06:27] manish2788 commented on #78
@taxuangiao No such issue exists as reported by you. Plugin works fine for synchronous request as well.

[2021-01-19 10:15] taxuangiao commented on #78
@manish2788 Thanks. However, I retry with synchronous XHR request and It is not OK. But I update to asynchronous XHR request, I could load file content. So please check again.

[2021-01-19 10:30] manish2788 commented on #74
@knkavya We are looking into the issue by validating the same over different platform version. We will provide the updates soon.

[2021-01-19 12:37] manish2788 commented on #76
@csantanu This plugin resolves the issue as mentioned in description I am not sure what is the issue which you are facing at your end. Can you share a sample cordova app which demonstrates the issue which you are reporting.

[2021-01-20 04:55] knkavya commented on #74
@manish2788 Thank you for the update.
I am not getting any response for the post request which are converted as blob requests.
These requests were working fine in UIWebview where post requests and responses were fine.
Not sure is there anything that needs to be modified in the request or response handling for WKWebview.
Can you please provide more updates on this?

[2021-01-20 09:45] manish2788 commented on #78
@taxuangiao Can you please share a sample cordova app demonstrating the issue you are facing.

[2021-01-20 09:49] manish2788 commented on #74
@knkavya We cannot comment upon you are not getting the response but I would recommend you to create a basic starter cordova app, try adding an ajax request and observe the behaviour on same.

[2021-01-21 05:44] knkavya commented on #74
@manish2788 Problem occurs only for the post request.

Below are the details of my request

Whenever my POST call enters performNativeXHR method inside CDVWKWebViewFileXhr below are the request data

requestId : b684.0000000008-0.2cdd62334e5df8
callbackFunction : nativeXHRResponse
urlString : https://store.*****.grp/shop/getAccountBalance
method : post

request :

<NSMutableURLRequest: 0x600000005

[2021-01-21 06:20] taxuangiao commented on #78
@manish2788 there are source code to load file
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "js/test.txt", false);
  xhr.send();
  var data = xhr.responseText;
  if (data) {
    alert(data);
  } else {
    alert("ERROR");
  }
the result is show alert "ERROR"

[2021-01-21 10:25] manish2788 commented on #78
@taxuangiao Please go through https://javascript.info/xmlhttprequest to understand how to create an XMLHttpRequest request and get a response. No issue with the plugin.

[2021-01-21 10:25] #78 closed

[2021-01-21 10:34] manish2788 commented on #74
@knkavya Issue doesn't seems to be related with plugin. Closing the same as conversion to blob request is expected behaviour of this plugin.

[2021-01-21 10:34] #74 closed

[2021-01-21 10:37] #47 closed

[2021-01-21 10:45] manish2788 commented on #69
@robertok-weiji You can see in description on how to use XMLHTTPRequest "GET" method to read local file from device.

[2021-01-21 11:08] taxuangiao commented on #78
@manish2788 , with above  code, I tried remove this plugin and build on cordova-ios@4 (UIWebView) and it is OK. I think the plugin not support synchronous XHR request.

[2021-01-21 15:58] gvanmat commented on #78
On the ios side the http request, response is synchronous but the
communication with the plugin is asyc. The client registers a callback
handler. At the time this was originally development, Js es6 await/async
was not an option. It might be possible now for the send to return a
promise and the client could call await xhr.send(). Kind of a JS impl
restriction.

On Thu, Jan 21, 2021, 3:26 AM Manish

[2021-01-25 11:16] #77 closed

[2021-01-25 11:17] manish2788 commented on #76
Closing the issue due to lack of response.

[2021-01-25 11:17] #76 closed

[2021-01-25 11:17] #69 closed

[2021-01-25 11:20] robertok-weiji commented on #69
@manish2788 sorry, it was opened for more than three months without a solution. Why now is it closed? The problem persist...

[2021-02-05 04:48] signalpoint opened #79 "NativeXHR: Invalid url scheme 'null'"
Thank you for this plugin, it really saved the day with regards to cordova + ios + xhr + cookies!

I wanted to point out an issue I had with the plugin though. For example, I am making a POST to a URL like this:

`https://example.com/?q=api/foo.json&api-key=abc123!_^-etc`

With `NativeXHRLogging` set to `full`, this error was being thrown to the Console:

After some Googling, it seems that `NSURL`

[2021-02-07 19:27] signalpoint commented on #44
While working through a related problem, I came across this issue. Thank you @Lindsay-Needs-Sleep for sending me in the right direction.

I was receiving this error:

`toDataUrl() SecurityError: The operation is insecure.`

Adding this to `config.xml` fixed it:

[code]

After that (and after running `cordova ios prepare`), I ran into this error:

`Not allowed to load local resource: file:///Users/

[2021-02-07 19:32] signalpoint commented on #76
Thank you @BrianCortes , your info above helped me resolve [a similar issue here](https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/issues/44#issuecomment-774742599).

[2021-02-09 19:10] mcelkys commented on #50
I have the exact same problem. Are there any news with regards to getting this resolved?

[2021-02-09 19:21] jacobg commented on #50
With the latest version of cordova ios and better support for wkwebview, I stopped using this plugin.

[2021-02-10 11:34] jperdereau opened #80 "UserAgent is "YOUR_APP/1 CFNetwork/1220.1 Darwin/20.3.0""
xCode Version 12.4 (12D4e)
Simulator on iPad 8th gen iOS 14.4
cordova: "10.0.0"
cordova-ios: "6.1.1"

Using `XHR` or `window.fetch` on  https://www.whatsmyua.info/api/v1/ua you get a UA like "YOUR_APP/1 CFNetwork/1220.1 Darwin/20.3.0"

Using the Cordova config to override and append is not working anymore https://cordova.apache.org/docs/en/10.x/config_ref/index.html

OverrideUserAgent(string)
Appe

[2021-02-17 04:24] manish2788 commented on #80
@jperdereau Are you facing this issue while using this plugin in your app or without the plugin as well?

[2021-02-17 04:25] manish2788 commented on #79
@signalpoint We will have look into your use case and respond soon.

[2021-02-17 07:25] jperdereau commented on #80
I do not have the issue without the plugin.

[2021-03-03 16:51] flav142 commented on #80
Same for me. UA is wrong on an iOS Cordova app using this plugin.
I'm using an iPhone X on iOS 14.4 with cordova-ios 6.2.0.

This will break my analytics in order to known with browsers / operating system are visiting my web app.

[2021-03-17 10:00] manish2788 commented on #80
@jperdereau Can you share a sample app to demonstrate the issue.

[2021-03-18 11:01] jperdereau commented on #80
Here https://github.com/jperdereau/sample_issue_cordova-plugin-wkwebview-file-xhr

Here the Readme to install https://github.com/jperdereau/sample_issue_cordova-plugin-wkwebview-file-xhr/blob/master/Readme.md

The first commit is without the plugin
![Screen Shot 2021-03-18 at 19 48 36](https://user-images.githubusercontent.com/1787382/111615767-7484ea00-8824-11eb-936e-fe287ab526d4.png)

The second

[2021-04-09 06:29] jperdereau commented on #80
Any news on your side?

[2021-04-12 10:02] manish2788 commented on #80
Hi @jperdereau ,
We will be sharing the update on this issue by this week end.

[2021-04-19 10:46] manish2788 commented on #80
@jperdereau Following response is being fetched from the server. At the plugin end we are not processing the response and modifying it. What I understand is that you must be creating this response at server end and passing it back to client.
You need to provide us the client property which is being used by your server to generate "ua" object having 'rawUa' key.
Otherwise I don't see any override f

[2021-04-20 03:03] jperdereau commented on #80
Hello,

Not sure I understand.

The sample app is full client, it just fetch from https://www.whatsmyua.info/api/v1/ua
https://github.com/jperdereau/sample_issue_cordova-plugin-wkwebview-file-xhr/blob/master/www/js/index.js#L44

https://www.whatsmyua.info/ is not mine, just a website to know your UA.

[2021-04-26 05:53] manish2788 commented on #80
@jperdereau Since this is a 3rd part api to check UA we cannot comment how exactly they are fetching the UA information from app. Have you tried yourself in your app to fetch the user agent instead of using a 3rd part website?

[2021-05-12 08:31] nbrignol opened #81 "Just a precision about the JS code"
Not a problem, just a precision :
The "responseText" will be available on the "this" in the event callback only, and no more in the event.target itself (like it is in classic XHR).

I guess you should note it in the doc.
Thank about that plugin BTW !

    xhr.addEventListener("loadend", function(evt) {
       //var data = evt.target.responseText; //<-- this will not work with the plugin
       var

[2021-05-17 07:44] manish2788 commented on #81
Thanks @nbrignol . We will make a note of your feedback.

[2021-05-17 07:44] #81 closed

[2021-05-17 09:24] manish2788 commented on #80
@jperdereau My query was have you tried fetching the user agent without using mentioned 3rd party website. If yes can you let me know how you achieved that?

[2021-05-19 02:43] iljaverba00 opened #82 "onprogress action"
Hi. My app downloads zip archives. When uploading, I need to track the progress.
This question has already been raised in: https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/issues/7
Is a solution possible in the near future?

[2021-05-19 05:55] manish2788 commented on #82
@iljaverba00 Currently we are not considering it as a feasible fix. No planned solution for this in near future.

[2021-05-19 08:13] #82 closed

[2021-05-28 05:33] #80 closed

[2021-05-28 05:34] manish2788 commented on #80
Closing the issue due to inactivity.

[2021-06-10 12:26] ravikumarevry opened #83 "Timeout is not being respected in xhr-pollyfill.js file"
Hi I am trying to set a timeout for my api call which take quite longer to return results as below,
$.ajax({
url:url,
type: "post",
timeout: 12000,
data:data,
Success"
..
}

but it is not being retained or coming as undefined inside xhr-pollyfill.js file and timeout is not being set for the ajax api call.

please if anyone has solution let me know, thanks in advance.

[2021-06-11 06:06] manish2788 commented on #83
@ravikumarevry Do you have a sample app to showcase this issue?

[2021-06-11 06:29] ravikumarevry commented on #83
@manish27  No, Its happenning in my main application, I do not have  a sample

[2021-06-16 08:06] jperdereau commented on #80
Well the issue is on a fetch, I need to fetch or xhr something, I can create a small node server on the side that show the UA but the issue will be the same. Checking on the app before sending as no point because the change is done by the native request too me.

[2021-07-02 15:53] martijnmichel opened #84 "still getting cors issue"
having fixed the cors issue half a year ago, after reinstalling my cordova app on my development station I am represented with this annoying bug. Using this plugin doesn't fix it.

On iOS 14.6, with cordova-ios@6.2.0

[code]

[2021-07-05 07:44] leroydev commented on #79
I'm running into this problem as well, have you guys figured out a way to solve it by any chance? :) @signalpoint @manish2788

[2021-07-07 18:30] bjanaszek commented on #83
@ravikumarevry I am seeing similar behavior on iOS 14.5+ devices.  After debugging, I've found that the plugin itself is handling the timeout correctly (and, if I'm reading the docs correctly, the underlying iOS networking API has a default timeout of 30 seconds, which is not overridden by the plugin), but the timeout event never seems to bubble up beyond the polyfilled XmlHttpRequest functions (t

[2021-07-08 05:27] manish2788 commented on #84
Can you please provide a sample app to showcase this issue?

[2021-07-08 05:28] manish2788 commented on #84
@martijnmichel Can you please provide a sample app to showcase this issue?

[2021-07-12 08:59] manish2788 commented on #83
@ravikumarevry Can you create a sample cordova ios app to showcase this issue and share it with us.
Please mention version details of the platform too.

Reference for creating cordova ios app : https://cordova.apache.org/docs/en/latest/guide/cli/index.html

[2021-09-08 05:29] #84 closed

[2021-09-08 05:29] manish2788 commented on #84
Closing the issue due to lack of response.

[2021-09-08 05:30] manish2788 commented on #83
Closing the issue due to lack of response.

[2021-09-08 05:30] #83 closed

[2021-09-14 06:24] aefw commented on #80
This plugin is great but this issue not solved
until today I got useragent like @jperdereau not full useragent
this plugin not updated, please @oracle fixed this issue
Thanks

[2021-11-08 11:18] haolinfang opened #85 "@ngx-translate cannot update zh.json file"
hello, my app is ionic3.20.0, i update uiwebview to wkwebview, anything is ok but @ngx-translate, so i install this plugin, but i  get new problem, in my app.module.ts, i set "./assets/i18n/zh.json“ like "new TranslateHttpLoader(http, './assets/i18n/', '.json')", when code-push update, the new zh.json not work, thanks for help, please

[2021-12-03 13:27] kw-pr opened #86 "Not working with iOS 15.1"
I believe this does not work with iOS 15.1 anymore. It was working before, now it is not working on multiple devices and in the emulator.
Also I found someone with the same problem:
https://github.com/apache/cordova-ios/issues/1205

I don't have any details or prove that this is the cause. But I keep you updated.

[2021-12-03 15:54] kw-pr commented on #86
Never mind... I remove cordova-plugin-whitelist because it is deprecated for android. It is still needed for iOS!

[2021-12-03 15:54] #86 closed

[2021-12-30 13:34] veerasatyanarayana opened #87 "Not allowed to load local resource"
XCode 12.4
Cordova 6.0

Load image from local resource and Specifies the path to the image is local resource path

**Device file path :**
 "file:///var/mobile/Containers/Data/Application/CE6CC1DD-2883-4FC8-932D-947242BC5020/Library/NoCloud/Driving_posture_V1_20140924_thumb.jpg "

**simulator file path:**
"file:///Users/mac2/Library/Developer/CoreSimulator/Devices/A78582B1-7A35-4530-B111-E464C058DC

[2022-06-27 14:33] bhandaribhumin opened #88 "Unable to send form-data only for iOS"
When sending a form-data through POST call, receiving **Unable to get name from form-data** response.
When I debugged this problem, it was found that this issue is happening due to **content-disposition**, API expects **Content-Disposition** but the app is sending **content-disposition** (please observe the case) [here](https://github.com/oracle/cordova-plugin-wkwebview-file-xhr/blob/master/src/ww

[2022-06-28 10:39] snehasis commented on #38
It should load from CDN without any Issue. CDNs are used cross origins.

You can try adding this if not working
<access origin="*://*/*" />

[2022-06-28 10:42] manish2788 commented on #88
@bhandaribhumin
Acknowledged. We will look into the issue and get back to you ASAP.

[2022-07-07 09:35] manish2788 commented on #87
@veerasatyanarayana Please verify the issue with latest version of plugin and let us know.

[2022-07-13 10:03] bhandaribhumin commented on #88
Thank you @manish2788

[2022-07-13 10:03] #88 closed

[2022-11-24 11:35] kluverua commented on #43
Did you manage to find an analogue for Android?